.header {
  position: relative;
  z-index: 5;

  width: 100%;

  font-size: 1.7rem;
  color: #fff;
  background-color: @brown;

  a:hover,
  a:focus {
    opacity: @opacity-hover;
  }
}

.header__container {
  width: 138.5rem;
}

.header__wrap {
  display: flex;
}

.header__logo {
  margin-left: 2rem;
}

.header__rows-wrap {
  display: flex;
  flex-direction: column;
  // .b;

  width: 117.8rem;
  margin-left: auto;
  margin-right: 1.9rem;
  padding-top: 1.2rem;
}

.header__row-top {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

.header__form-lang {
  // margin-left: 1.4rem;
  margin-right: 2.6rem;
}

.header__select-lang {}

.header__link-modal-region {
  // position: relative;
  // display: flex;
  // align-items: center;

  // padding-left: 20px;
  // &::before {
  //   content: '';
  //   position: absolute;
  //   top: -2px;
  //   left: -3px;


  //   width: 18px;
  //   height: 22px;

  //   background-image: url('../img/svg/icon-region.svg');
  //   background-size: cover;
  // }
  // &:hover,
  // &:focus {
  //   opacity: 0.7;
  //   .btn-region-1__icon {
  //     color: inherit;
  //   }
  // }

  // &-icon-wrap {
  //   width: 100%;
  //   height: 100%;
  // }
  &-icon {
    // width: 100%;
    // height: 100%;
    // margin-right: 4px;
  }
}

.header__text-wrap {
  margin-left: auto;

  font-size: 1.5rem;
  line-height: 1.7rem;
  text-align: right;
}

.header__text-item {
  font-weight: 700;
  &--gray {
    color: @gray;
    font-weight: 300;
  }
}

.header__row-bottom {}

.header__main-nav {}

.header__menu-toggle,
.header__link-call-back {
  display: none;
}

@media (max-width: @tablet-width) {

  .header {
    position: fixed;
    top: 0;

    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    // padding-top: 0.6rem;
    // padding-bottom: 0.6rem;

    font-size: 1.5rem;

    &.active {
      height: 100vh;
      overflow-y: scroll;
      overflow-x: hidden;
      position: relative;
      z-index: 10;
      .header__rows-wrap {
        flex-wrap: wrap;
      }
      .header__main-nav {
        display: block;
      }
    }
  }

  .header__container {
    width: auto;
  }

  .header__wrap {
    justify-content: space-between;
    align-items: center;
  }

  .header__logo {
    margin: 0;
    margin-left: 1rem;
    margin-right: auto;
  }

  .header__rows-wrap {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;

    width: auto;
    margin: 0;
    padding: 0;

  }

  .header__row-top {
    // display: flex;
    // align-items: center;
    margin-bottom: 0;
  }

  .header__form-lang {
    order: 2;
    margin-left: 1.4rem;
    margin-right: 0;
  }

  .header__link-modal-region {
    order: 1;
  }

  .header__link-call-back {
    order: 3;
    margin-left: 0.5rem;
    .icon-tel {
      color: @brown;
    }
  }

  .header__link-modal-region {}

  // .header__main-nav {
  //   width: 95rem;
  // }

  .header__text-wrap {
    display: none;
  }

  .header__menu-toggle,
  .header__link-call-back {
    display: block;
  }

  .header__main-nav {
    // margin-top: 3.1rem;
  }
}
