.header {
  position: relative;
  z-index: 5;

  width: 100%;

  font-size: 1.7rem;
  color: #fff;
  background-color: @brown;

  a:hover,
  a:focus {
    opacity: @opacity-hover;
  }
}

.header__container {
  width: 138.5rem;
}

.header__wrap {
  display: flex;
}

.header__logo {
  // margin-left: 2rem;
  top: 1.5rem;
  .logo__img-wrap {
    // width: 16.3rem;
    // height: 14.3rem;
    width: 16rem;
    height: 8rem;
  }
  &.logo {
    position: absolute;
  }
}

.header__rows-wrap {
  display: flex;
  flex-direction: column;
  // .b;

  width: 117.8rem;
  margin-left: auto;
  margin-right: 1.9rem;
  padding-top: 1.2rem;
}

.header__row-top {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

.header__form-lang {
  // margin-left: 1.4rem;
  margin-right: 2.6rem;
}

.header__select-lang {}

.header__text-wrap {
  margin-left: auto;

  font-size: 1.5rem;
  line-height: 1.7rem;
  text-align: right;
}

.header__text-item {
  font-weight: 700;
  &--gray {
    color: @gray;
    font-weight: 300;
  }
}

.header__row-bottom {}

.header__main-nav {}

.header__menu-toggle,
.header__link-call-back {
  display: none;
}

@media (max-width: @tablet-width) {

  .header {
    position: fixed;
    top: 0;

    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    // padding-top: 0.6rem;
    // padding-bottom: 0.6rem;

    font-size: 1.5rem;

    transition-property: background-color;
    transition-duration: 0.6s;

    &.active {
      min-height: 100vh;
      overflow-y: scroll;
      overflow-x: hidden;
      // position: relative;
      position: fixed;
      z-index: 10;
      background-color: @dark;
      .header__container {
        padding-top: 3.1rem;
      }
      .header__menu-toggle {
        position: absolute;
        top: 3rem;
        left: var(--container-padding-block);
      }
      .header__rows-wrap {
        // width: 100%;
      //   flex-wrap: wrap;
      }
      .header__row-top {
        // margin-left: 9.5rem;
        // margin-right: 13rem;
        // margin-right: 3.5rem; /* увеличить если языковых элементов больше 2 */
        margin-bottom: 5.2rem;
        margin-right: 0;
        transition-duration: 0.6s;
      }
      // .header__logo, // без анимации
      // .header__link-call-back {
      //   display: none;
      // }
      .header__main-nav {
        display: block;
      }
      .header__logo,
      .header__link-call-back { // с анимацией
        z-index: -1;
        visibility: hidden;
        opacity: 0;
      }

      .header__logo {
        transition: 0s;
      }

      .header__link-call-back {
        transition-delay: 0s;
      }
    }
  }

  .header__container {
    width: auto;
  }

  .header__wrap {
    // justify-content: space-between; // без анимации
    align-items: center;
    // flex-wrap: wrap;
    min-height: 8rem; // с анимацией
  }

  .header__logo {
    margin: 0;
    // margin-left: 1rem; // без анимации
    margin-right: auto;
    &.logo { // с анимацией
      position: absolute;
      top: 0;
      // left: 5.7rem;
      left: 7.7rem;
      transition-delay: 0.4s;
    }
  }

  .header__rows-wrap {
    width: 100%;
    // width: auto;
    margin: 0;
    padding: 0;

  }

  .header__row-top {
    // display: none;
    // position: absolute;
    margin-bottom: 0;
    margin-right: 3.5rem;
    margin-left: auto;
    // transition-duration: 2s;
    transition-duration: 1s;
    transition-property: margin-right;
  }

  .header__form-lang {
    order: 2;
    margin-left: 1.4rem;
    margin-right: 0;
  }

  .header__link-modal-region {
    order: 1;
  }

  .header__link-call-back {
    position: absolute;
    right: var(--container-padding-block);
    transition-delay: 0.4s;

    order: 3;
    // margin-left: 0.5rem;
    .icon-tel {
      color: @brown;
    }
  }

  .header__link-modal-region {}

  // .header__main-nav {
  //   width: 95rem;
  // }

  .header__text-wrap {
    display: none;
  }

  .header__menu-toggle,
  .header__link-call-back {
    display: block;
  }

  .header__main-nav {
    // margin-top: 3.1rem;
  }
}

// 340px
@media (max-width: 21.25em) {
  .header {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
