.logo {
  position: relative;
  display: flex;
  align-items: center;

  font-family: @canvas;
  font-size: 41px;
  letter-spacing: 0.04em;

  cursor: pointer;
  z-index: 0;
}

.logo__img-wrap {
  // width: 127px;
  // height: 127px;

  &--small {
    width: 93px;
    height: 93px;
  }

  &--big {
    width: 312px;
    height: 312px;
  }
}

.logo__img {
  .img-cover;
  font-size: 1.6rem;
}

.logo__title {
    // .text-stroke(#fff, 0px);
  .text-stroke(@brown, 1px);

  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 0.6px;

  &--absolute {
    position: absolute;
    bottom: 25px;
    left: 46px;

    width: 100px;
  }

  &--red {
    color: @red;

    text-shadow: none;
    .text-stroke(@brown, 1px);
    // -webkit-text-stroke-width: 0;
    -webkit-text-stroke-color: @red;
    -webkit-text-stroke-width: 0.6px;
  }

  &-decor {
    position: relative;
    // width: 6px;
    // height: 6px;
    &::before {
      content: '';
      z-index: 1;
      position: absolute;
      // top: 50%;
      top: 43%;
      left: -10px;

      width: 14px;
      height: 14px;

      background-image: url('../img/svg/icon-logo-star.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
}

.logo__desc {

  font-family: @circe;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0;
}

.logo-big {
  font-size: 92px;
  .logo__img-wrap {
    margin-bottom: 29px;
  }
  .logo__title {
    .text-stroke(@brown, 3px);
    -webkit-text-stroke-width: 2.6px;

    &--red {
      .text-stroke(@brown, 3px);
      -webkit-text-stroke-width: 2.6px;
    }
    &-decor {
      &::before {
        top: 40%;
        left: -23px;

        width: 28px;
        height: 28px;
      }
    }
  }
  .logo__desc {
    width: 450px;
    margin-top: 8px;
    text-align: center;
  }
}



// @media (max-width: @tablet-width) {
//   .logo {
//     font-size: 2rem;
//   }
// }
