.select-lang {
  position: relative;

  &.custom {
    &::after {
      content: none;
    }
  }
}

// .custom-select::after,
.custom-select__option--value::after,
.select-lang::after {
  content: '';
  position: absolute;
  z-index: 0;
  top: 50%;
  transform: translateY(-50%);
  right: 0;

  border: 4px solid @gold;
  border-top-color: @gold;
  border-bottom-width: 0px;
  border-right-color: transparent;
  border-left-color: transparent;

  cursor: pointer;

  transition: @s;
}

.custom-select--active {
  .custom-select__option--value::after {
    transform: translateY(-50%) rotate(-180deg);
  }
}

.custom-select__option--value {
  min-width: 36px;
  padding-right: 12px;
}

.select-lang__select {
  padding-right: 10px;

  option {
    color: #000;
  }
}

.select-lang__select,
.custom-select__option,
.custom-select {
  box-sizing: border-box;
  width: 100%;

  font-family: @circe;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;

  color: #fff;
  border: none;
  background-color: transparent;

     -moz-appearance: none;
  -webkit-appearance: none;
          appearance: none;

  outline: none;

  cursor: pointer;
}

.custom-select {
  // min-width: 36px;
  // padding-left: 4px;
  // padding-right: 12px;

  // &--active {
  //   &::after {
  //     transform: translateY(-50%) rotate(-180deg);
  //   }
  // }
}

.custom-select__option {
  height: 24px;

  transition: @s;

  // color: #fff;

  // margin-top: 6px;

  &:hover,
  &:focus {
    color: @brown;
    background-color: #fff;
  }

  &--value {
    margin-top: 0;
    margin-bottom: 0;

    &:hover,
    &:focus {
      color: @icon-white-hover;
      background-color: transparent;
    }
  }
}

.custom-select__dropdown {
  position: absolute;
  z-index: 10;

  background-color: @brown;
}
