@font-face {
  font-display: swap;
  font-family: "Circe";
  src: local("Circe Light"), local("Circe-Light"), url("../fonts/Circe/light/Circe-Light.woff2") format("woff2"), url("../fonts/Circe/light/Circe-Light.woff") format("woff"), url("../fonts/Circe/light/Circe-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "Circe";
  src: local("Circe"), local("Circe Regular"), local("Circe-Regular"), url("../fonts/Circe/regular/Circe-Regular.woff2") format("woff2"), url("../fonts/Circe/regular/Circe-Regular.woff") format("woff"), url("../fonts/Circe/regular/Circe-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "Circe";
  src: local("Circe Bold"), local("Circe-Bold"), url("../fonts/Circe/bold/Circe-Bold.woff2") format("woff2"), url("../fonts/Circe/bold/Circe-Bold.woff") format("woff"), url("../fonts/Circe/bold/Circe-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'MADECanvas';
  src: local('MADE Canvas'), local('MADECanvas'), local('MADECanvas Regular'), local('MADECanvas-Regular'), url('../fonts/MADECanvas/regular/MADECanvas.woff2') format('woff2'), url('../fonts/MADECanvas/regular/MADECanvas.woff') format('woff'), url('../fonts/MADECanvas/regular/MADECanvas.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'Blaster';
  src: local('Blaster'), local('Blaster Italic'), local('Blaster-Italic'), url('../fonts/blaster/regular/BlasterIt.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-display: swap;
  font-family: 'PF DaVinci Script Pro';
  src: local('PFDaVinciScriptPro Regular'), local('PFDaVinciScriptPro-Regular'), url('../fonts/PFDaVinciScriptPro/regular/PFDaVinciScriptPro-Regular.woff') format('woff'), url('../fonts/PFDaVinciScriptPro/regular/PFDaVinciScriptPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PF DaVinci Script Pro Inked';
  src: url('PFDaVinciScriptPro-Inked.eot');
  src: local('PFDaVinciScriptPro-Inked'), url('PFDaVinciScriptPro-Inked.eot?#iefix') format('embedded-opentype'), url('PFDaVinciScriptPro-Inked.woff') format('woff'), url('PFDaVinciScriptPro-Inked.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@media (max-width: 113em) {
  html {
    font-size: 54%;
  }
}
@media (max-width: 108em) {
  html {
    font-size: 52%;
  }
}
@media (max-width: 105em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 96em) {
  html {
    font-size: 48%;
  }
}
@media (max-width: 90em) {
  html {
    font-size: 46.875%;
  }
}
@media (max-width: 80em) {
  html {
    font-size: 41.667%;
  }
}
@media (max-width: 69em) {
  html {
    font-size: 33.333%;
  }
}
@media (max-width: 48em) {
  html {
    font-size: 62.5%;
  }
}
@media (max-width: 25em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 21em) {
  html {
    font-size: 40%;
  }
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Circe', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  background-color: #EAF1F9;
  color: #393544;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: 0.5s;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
p {
  font-weight: 400;
  margin: 0;
  padding: 0;
}
input,
button {
  box-sizing: border-box;
  padding: 0;
  border: none;
  background-color: transparent;
}
button,
input,
optgroup,
select,
textarea {
  font-family: 'Circe', 'Arial', sans-serif;
}
button {
  cursor: pointer;
}
section {
  position: relative;
  z-index: 1;
}
.noscroll {
  overflow: hidden !important;
  height: 100% !important;
}
.overlay {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 400ms;
}
.overlay.active {
  z-index: 99;
  opacity: 1;
  visibility: visible;
}
.hide {
  opacity: 0;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
.container {
  width: 135rem;
}
.mobile-block {
  display: none;
}
.desktop-block {
  display: block;
}
.phone-mask:-moz-ui-invalid {
  box-shadow: none;
}
@media (max-width: 48em) {
  .container,
  .container-outside,
  .container-inside {
    width: auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .desktop-block {
    display: none;
  }
  .mobile-block {
    display: block;
  }
  .link {
    font-size: 35px;
    line-height: 35px;
  }
}
@media (max-width: 330px) {
  .link {
    font-size: 26px;
    line-height: 26px;
  }
}
.o {
  outline: 1px solid red;
}
.b {
  border: 1px solid red;
}
.text-stroke {
  text-shadow: #000 1px 1px 0, #000 -1px -1px 0, #000 -1px 1px 0, #000 1px -1px 0;
}
.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.img-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.img-contain {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.DaVinci {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'PF DaVinci Script Pro', 'Times', serif;
  font-size: 44px;
  letter-spacing: -0.02em;
  text-transform: initial;
  color: #F5D087;
  transform: rotate(-5.91deg);
}
.blaster {
  font-family: 'Blaster', 'Arial', sans-serif;
}
.btn-submit {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-color: #F0F7FF;
  transition: 0.5s;
}
.btn-submit__icon {
  fill: #393544;
}
.btn-submit:hover,
.btn-submit:focus {
  background-color: rgba(240, 247, 255, 0.8);
}
.btn-submit::before {
  content: '';
  position: absolute;
  left: -1px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #41C4A5;
}
.btn-modal {
  box-sizing: border-box;
  position: relative;
  width: 255px;
  height: 57px;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
  border-radius: 10px;
  transition: 0.5s;
}
.btn-modal__decor-line {
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 88px;
  height: 5px;
  background-color: #41C4A5;
  transition: inherit;
}
.btn-modal__decor-line::before,
.btn-modal__decor-line::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 0;
  width: 0;
  border-top: 5px solid transparent;
}
.btn-modal__decor-line::before {
  left: -3px;
  border-right: 3px solid #41C4A5;
}
.btn-modal__decor-line::after {
  right: -3px;
  border-left: 3px solid #41C4A5;
}
.btn-modal:hover,
.btn-modal:focus {
  outline: none;
}
.btn-modal:hover .btn-modal__decor-line,
.btn-modal:focus .btn-modal__decor-line {
  width: 55%;
}
.btn-modal--dark {
  color: #fff;
  background-color: #403744;
  border: 2px solid #5C5365;
  box-shadow: 10px 10px 40px rgba(62, 53, 75, 0.29);
}
.btn-modal--dark:hover,
.btn-modal--dark:focus {
  background-color: #291C22;
}
.btn-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 82px;
  background-color: #FFFFFF;
  box-shadow: 8px 8px 15px #D5E1F3;
  border-radius: 90px;
  transition: 0.5s;
}
.btn-link__icon {
  fill: #393544;
  transition: inherit;
}
.btn-link:hover,
.btn-link:focus {
  outline: none;
  box-shadow: none;
}
.btn-link:hover .btn-link__icon,
.btn-link:focus .btn-link__icon {
  fill: rgba(53, 53, 68, 0.6);
}
.section-desc {
  color: #A6B2C6;
}
/*header*/
.header {
  position: relative;
  z-index: 5;
  width: 100%;
  font-size: 17px;
  color: #fff;
  background-color: #291C22;
}
.header a:hover {
  opacity: 0.7;
}
.header__container {
  width: 138.5rem;
}
.header__wrap {
  display: flex;
}
.header__logo {
  margin-left: 20px;
}
.header__rows-wrap {
  display: flex;
  flex-direction: column;
  width: 1178px;
  margin-left: auto;
  margin-right: 19px;
  padding-top: 12px;
}
.header__row-top {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.header__form-lang {
  margin-right: 22px;
}
.header__text-wrap {
  margin-left: auto;
  font-size: 15px;
  line-height: 17px;
  text-align: right;
}
.header__text-item {
  font-weight: 700;
}
.header__text-item--gray {
  color: #D5D5D5;
  font-weight: 300;
}
.header__menu-toggle,
.header__link-call-back {
  display: none;
}
.logo {
  position: relative;
  display: flex;
  align-items: center;
  font-family: 'MADECanvas', 'Times', serif;
  font-size: 41px;
  letter-spacing: 0.04em;
  cursor: pointer;
  z-index: 0;
}
.logo__img-wrap--small {
  width: 93px;
  height: 93px;
}
.logo__img-wrap--big {
  width: 312px;
  height: 312px;
}
.logo__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  font-size: 1.6rem;
}
.logo__title {
  text-shadow: #291C22 1px 1px 0, #291C22 -1px -1px 0, #291C22 -1px 1px 0, #291C22 1px -1px 0;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 0.6px;
}
.logo__title--absolute {
  position: absolute;
  bottom: 25px;
  left: 46px;
  width: 100px;
}
.logo__title--red {
  color: #E13D3E;
  text-shadow: none;
  text-shadow: #291C22 1px 1px 0, #291C22 -1px -1px 0, #291C22 -1px 1px 0, #291C22 1px -1px 0;
  -webkit-text-stroke-color: #E13D3E;
  -webkit-text-stroke-width: 0.6px;
}
.logo__title-decor {
  position: relative;
}
.logo__title-decor::before {
  content: '';
  z-index: 1;
  position: absolute;
  top: 43%;
  left: -10px;
  width: 14px;
  height: 14px;
  background-image: url('../img/svg/icon-logo-star.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.logo__desc {
  font-family: 'Circe', 'Arial', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0;
}
.logo-big {
  font-size: 92px;
}
.logo-big .logo__img-wrap {
  margin-bottom: 29px;
}
.logo-big .logo__title {
  text-shadow: #291C22 3px 3px 0, #291C22 -3px -3px 0, #291C22 -3px 3px 0, #291C22 3px -3px 0;
  -webkit-text-stroke-width: 2.6px;
}
.logo-big .logo__title--red {
  text-shadow: #291C22 3px 3px 0, #291C22 -3px -3px 0, #291C22 -3px 3px 0, #291C22 3px -3px 0;
  -webkit-text-stroke-width: 2.6px;
}
.logo-big .logo__title-decor::before {
  top: 40%;
  left: -23px;
  width: 28px;
  height: 28px;
}
.logo-big .logo__desc {
  width: 450px;
  margin-top: 8px;
  text-align: center;
}
.main-nav {
  display: flex;
}
.main-nav__list {
  position: relative;
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 1130px;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
.main-nav__list.search-active {
  position: absolute;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
}
.main-nav__item {
  position: relative;
  margin-right: 2.7rem;
}
.main-nav__item:last-child {
  margin-right: 0;
}
.main-nav__item.selected-on-tab .main-nav__sublist,
.main-nav__item:hover .main-nav__sublist,
.main-nav__link:focus + .main-nav__sublist {
  visibility: visible;
  opacity: 1;
}
.main-nav__link {
  display: block;
  position: relative;
  padding-bottom: 2.6rem;
  color: inherit;
  cursor: pointer;
}
.main-nav__sublist {
  box-sizing: border-box;
  position: absolute;
  z-index: 5;
  top: 4.9rem;
  visibility: hidden;
  opacity: 0;
  transition-duration: 0.6s;
  width: 30.1rem;
  padding: 2.6rem;
  background-color: #413B4A;
  border-radius: 0px 0px 30px 30px;
}
.main-nav__subitem {
  margin-bottom: 2rem;
}
.main-nav__subitem:last-child {
  margin-bottom: 0;
}
.main-nav__sublink {
  display: block;
}
.main-nav__search-toggle {
  align-self: flex-start;
  margin-left: auto;
}
@media (max-width: 48em) {
  .main-nav {
    display: none;
    width: 100%;
  }
  .main-nav__list {
    flex-direction: column;
    font-size: 20px;
  }
  .main-nav__item {
    position: relative;
    margin-top: 0;
    margin-right: 0px;
    padding: 18px 0;
    border-bottom: 1px solid #3E3E3E;
  }
  .main-nav__link {
    padding: 0;
  }
  .main-nav__link::before {
    content: none;
  }
  .main-nav-sub {
    position: relative;
  }
  .main-nav-sub::after {
    content: '+';
    position: absolute;
    right: 0;
  }
  .main-nav-sub.active::after {
    content: '-';
  }
  .main-nav__sublist {
    display: none;
    position: relative;
    top: 0;
    visibility: visible;
    opacity: 1;
    width: auto;
    padding: 0;
    padding-left: 22px;
    font-weight: 300;
    text-transform: none;
    background-color: transparent;
  }
  .main-nav__sublist.active {
    display: block;
  }
  .main-nav__subitem {
    margin: 18px 0;
  }
  .main-nav__sublink {
    color: #fff;
  }
}
.select-lang {
  position: relative;
}
.select-lang.custom::after {
  content: none;
}
.custom-select__option--value::after,
.select-lang::after {
  content: '';
  position: absolute;
  z-index: 0;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  border: 4px solid #F5D087;
  border-top-color: #F5D087;
  border-bottom-width: 0px;
  border-right-color: transparent;
  border-left-color: transparent;
  cursor: pointer;
  transition: 0.5s;
}
.custom-select--active .custom-select__option--value::after {
  transform: translateY(-50%) rotate(-180deg);
}
.custom-select__option--value {
  min-width: 36px;
  padding-right: 12px;
}
.select-lang__select {
  padding-right: 10px;
}
.select-lang__select option {
  color: #000;
}
.select-lang__select,
.custom-select__option,
.custom-select {
  box-sizing: border-box;
  width: 100%;
  font-family: 'Circe', 'Arial', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  color: #fff;
  border: none;
  background-color: transparent;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
}
.custom-select__option {
  height: 24px;
  transition: 0.5s;
}
.custom-select__option:hover,
.custom-select__option:focus {
  color: #291C22;
  background-color: #fff;
}
.custom-select__option--value {
  margin-top: 0;
  margin-bottom: 0;
}
.custom-select__option--value:hover,
.custom-select__option--value:focus {
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
}
.custom-select__dropdown {
  position: absolute;
  z-index: 10;
  background-color: #291C22;
}
.search {
  position: absolute;
  z-index: -1;
  margin-left: 40px;
  opacity: 0;
}
.search.active {
  position: relative;
  z-index: 0;
  opacity: 1;
}
.search,
.search-toggle,
.search__icon,
.search__datalist-wrap {
  transition: 0.5s;
}
.search-toggle {
  position: relative;
  width: 23px;
  height: 23px;
  margin-bottom: 2.6rem;
  font-size: 5px;
  color: transparent;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}
.search-toggle:hover .search__icon,
.search-toggle:focus .search__icon {
  fill: rgba(255, 255, 255, 0.6);
}
.search__icon {
  position: absolute;
  top: 0;
  left: 0;
  fill: #fff;
}
.search__icon--search {
  z-index: 0;
  opacity: 1;
}
.search__icon--close {
  z-index: -1;
  opacity: 0;
}
.active .search__icon--search {
  z-index: -1;
  opacity: 0;
}
.active .search__icon--close {
  z-index: 0;
  opacity: 1;
}
.search-toggle,
.search__input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}
.search__form {
  position: relative;
  visibility: hidden;
  display: flex;
  align-items: flex-start;
}
.active .search__form {
  visibility: visible;
}
.search__input {
  box-sizing: border-box;
  position: relative;
  width: 1055px;
  border-bottom: 0.1rem solid #413B4A;
  color: inherit;
}
.search__input::-moz-placeholder {
  opacity: 1;
  color: inherit;
}
.search__input:-ms-input-placeholder {
  opacity: 1;
  color: inherit;
}
.search__input::-ms-input-placeholder {
  opacity: 1;
  color: inherit;
}
.search__input::placeholder {
  opacity: 1;
  color: inherit;
}
.search__input:-moz-ui-invalid {
  box-shadow: none;
}
.search__label-icon {
  content: '';
  position: absolute;
  left: -38px;
  width: 23px;
  height: 23px;
  cursor: pointer;
}
.search__label-icon:hover .search__icon {
  fill: rgba(255, 255, 255, 0.6);
}
.search__datalist-wrap {
  box-sizing: border-box;
  position: absolute;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  top: 49px;
  left: -40px;
  width: 1178px;
  padding: 23px 40px;
  background: #413B4A;
  border-radius: 0px 0px 58px 58px;
}
.search__datalist-wrap.active {
  z-index: 0;
  opacity: 1;
  visibility: visible;
}
.search__datalist {
  font-size: 18px;
}
.search__datalist-item {
  margin-bottom: 15px;
}
/* дизайнерские костыли */
.search__input,
.search__label-icon {
  top: -3px;
}
.search-toggle {
  top: -7px;
  left: 4px;
}
.search__btn-submit {
  top: -14px;
  margin-left: 6px;
}
@media (max-width: 420px) {
  .search__input {
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    padding-left: 1.5rem;
    padding-right: 4.5rem;
    font-size: 1.6rem;
    line-height: 2.3rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
  }
  .search__icon {
    top: 50%;
    transform: translateY(-50%);
    right: 2.381vw;
  }
}
.menu-toggle {
  position: relative;
  width: 4rem;
  height: 3.6rem;
  padding: 0;
  color: transparent;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.menu-toggle span {
  position: relative;
  z-index: 1;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 0.2rem;
  font-size: 0;
  color: transparent;
  background-color: #fff;
  cursor: pointer;
  border-radius: 0.3rem;
}
.menu-toggle.active span {
  background-color: transparent;
}
.menu-toggle::before,
.menu-toggle::after {
  content: "";
  position: absolute;
  right: 0px;
  width: 100%;
  height: 0.2rem;
  background-color: #fff;
  border-radius: 0.3rem;
}
.menu-toggle::before {
  top: 0;
}
.menu-toggle::after {
  bottom: 0;
}
.active.menu-toggle::before {
  top: 1.4rem;
  transform: rotate(-45deg);
}
.active.menu-toggle::after {
  bottom: 2rem;
  transform: rotate(45deg);
}
@media (max-width: 380px) {
  .menu-toggle {
    margin-bottom: 0;
  }
}
.main-info {
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: 240px;
  color: #fff;
  z-index: 0;
}
.main-info--white-overlay::before {
  position: absolute;
  content: '';
  z-index: -1;
  width: 100%;
  height: 1000px;
  background-color: #fff;
}
.main-info__bg {
  position: absolute;
  z-index: -1;
  top: -810px;
  width: 1534px;
  height: 1502px;
  border-radius: 50%;
  background: radial-gradient(43.24% 44.87% at 2.24% 86.64%, #504D60 0%, #2F1F27 100%);
}
.main-info__logo {
  flex-direction: column;
  margin-top: 30px;
  cursor: initial;
}
.main-info__aside-left {
  position: absolute;
  width: 225px;
  top: 122px;
  right: 50%;
  transform: translateX(592px);
}
.main-info__aside-left-desc {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
}
.main-info__aside-left-desc--gold {
  display: block;
  color: #F5D087;
}
.main-info__aside-left-desc--light {
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
}
.main-info__aside-btn-modal {
  margin-top: 7px;
}
.main-info__decor {
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
}
.main-info__decor-one {
  width: 470px;
  height: 470px;
  top: 229px;
  left: 50%;
  transform: translateX(-795px);
  background-image: url('../img/main-info/1-1.svg');
  background-size: contain;
}
.main-info__decor-two {
  width: 100%;
  height: 1127px;
  top: 313px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url('../img/main-info/1-2.svg');
  background-size: cover;
}
@media (min-width: 1921px) {
  .main-info__decor-two {
    height: 58.697vw;
  }
}
.services {
  padding-top: 112px;
  padding-bottom: 112px;
}
.services__list {
  display: flex;
  justify-content: space-between;
}
.services__item {
  width: 300px;
  text-align: center;
}
.services__link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services__link:hover .services__img-wrap,
.services__link:focus .services__img-wrap {
  box-shadow: 15px 15px 80px #ADB9D9;
}
.services__link:hover .services__btn-link,
.services__link:focus .services__btn-link {
  box-shadow: none;
}
.services__link:hover .services__btn-link .btn-link__icon,
.services__link:focus .services__btn-link .btn-link__icon {
  fill: rgba(53, 53, 68, 0.6);
}
.services__item-title {
  margin-bottom: 19px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  color: #393544;
}
.services__img-wrap {
  width: 100%;
  height: 397px;
  margin-top: 23px;
  margin-bottom: 49px;
  border-radius: 90px;
  box-shadow: 15px 45px 80px #ADB9D9;
  transition: 0.5s;
}
.sesrvices__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.services__subtitle {
  margin-bottom: 13px;
  font-weight: bold;
  font-size: 22px;
}
.services__btn-link {
  margin-top: 20px;
}
.aside-link {
  box-sizing: border-box;
  position: absolute;
  z-index: 45;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 447px;
  padding-top: 8px;
  padding-bottom: 6px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 27px;
  text-align: center;
  color: #fff;
}
.aside-link.tab-focus .aside-link__bg-img,
.aside-link:hover .aside-link__bg-img {
  fill: rgba(65, 59, 74, 0.7);
}
.aside-link.tab-focus .aside-link__link,
.aside-link:hover .aside-link__link {
  opacity: 1;
}
.aside-link__bg-wrap {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 447px;
  height: 45px;
}
.aside-link__bg-img {
  width: 100%;
  height: 100%;
  fill: #413B4A;
  transition: 0.5s;
}

/*# sourceMappingURL=style.css.map */
