@font-face {
  font-display: swap;
  font-family: "Circe";
  src: local("Circe Light"), local("Circe-Light"), url("../fonts/Circe/light/Circe-Light.woff2") format("woff2"), url("../fonts/Circe/light/Circe-Light.woff") format("woff"), url("../fonts/Circe/light/Circe-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "Circe";
  src: local("Circe"), local("Circe Regular"), local("Circe-Regular"), url("../fonts/Circe/regular/Circe-Regular.woff2") format("woff2"), url("../fonts/Circe/regular/Circe-Regular.woff") format("woff"), url("../fonts/Circe/regular/Circe-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "Circe";
  src: local("Circe Bold"), local("Circe-Bold"), url("../fonts/Circe/bold/Circe-Bold.woff2") format("woff2"), url("../fonts/Circe/bold/Circe-Bold.woff") format("woff"), url("../fonts/Circe/bold/Circe-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'Canvas';
  src: local('MADE Canvas'), local('MADECanvas'), local('MADECanvas Regular'), local('MADECanvas-Regular'), url('../fonts/MADECanvas/regular/MADECanvas.woff2') format('woff2'), url('../fonts/MADECanvas/regular/MADECanvas.woff') format('woff'), url('../fonts/MADECanvas/regular/MADECanvas.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Circe', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #393544;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
p {
  font-weight: 400;
  margin: 0;
  padding: 0;
}
input,
button {
  box-sizing: border-box;
  padding: 0;
  border: none;
  background-color: transparent;
}
.noscroll {
  overflow: hidden !important;
  height: 100% !important;
}
.overlay {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 400ms;
}
.overlay.active {
  z-index: 99;
  opacity: 1;
  visibility: visible;
}
.hide {
  opacity: 0;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container,
.container-inside {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
.container {
  width: 138.5rem;
}
.container-inside {
  width: 119.6rem;
}
.container-inside--deeper {
  width: 111.4rem;
}
.mobile-block {
  display: none;
}
.desktop-block {
  display: block;
}
.phone-mask:-moz-ui-invalid {
  box-shadow: none;
}
.link {
  font-weight: 300;
  font-size: 3.5rem;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
@media (max-width: 48em) {
  .container,
  .container-outside,
  .container-inside {
    width: auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .desktop-block {
    display: none;
  }
  .mobile-block {
    display: block;
  }
  .link {
    font-size: 35px;
    line-height: 35px;
  }
}
@media (max-width: 330px) {
  .link {
    font-size: 26px;
    line-height: 26px;
  }
}
.o {
  outline: 1px solid red;
}
.b {
  border: 1px solid red;
}
.text-stroke {
  text-shadow: #000 1px 1px 0, #000 -1px -1px 0, #000 -1px 1px 0, #000 1px -1px 0;
}
.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.img-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.img-contain {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 113em) {
  html {
    font-size: 54%;
  }
}
@media (max-width: 108em) {
  html {
    font-size: 52%;
  }
}
@media (max-width: 105em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 96em) {
  html {
    font-size: 48%;
  }
}
@media (max-width: 90em) {
  html {
    font-size: 46.875%;
  }
}
@media (max-width: 80em) {
  html {
    font-size: 41.667%;
  }
}
@media (max-width: 69em) {
  html {
    font-size: 33.333%;
  }
}
@media (max-width: 48em) {
  html {
    font-size: 62.5%;
  }
}
@media (max-width: 25em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 21em) {
  html {
    font-size: 40%;
  }
}
/*header*/
.header {
  z-index: 5;
  width: 100%;
  font-size: 17px;
  color: #fff;
  background-color: #291C22;
}
.header__wrap {
  display: flex;
}
.header__logo {
  margin-top: 14px;
  margin-left: 20px;
}
.header__rows-wrap {
  display: flex;
  flex-direction: column;
  width: 1178px;
  margin-left: auto;
  margin-right: 19px;
  padding-top: 11px;
}
.header__row-top {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.header__form-lang {
  margin-right: 22px;
}
.header__text-wrap {
  margin-left: auto;
  font-size: 15px;
  line-height: 17px;
  text-align: right;
}
.header__text-item {
  font-weight: 700;
}
.header__text-item--gray {
  color: #D5D5D5;
  font-weight: 300;
}
.header__menu-toggle,
.header__link-call-back {
  display: none;
}
.logo {
  position: relative;
  display: flex;
  align-items: center;
  font-family: 'Canvas';
  font-size: 41px;
  letter-spacing: 0.04em;
  text-shadow: #291C22 1px 1px 0, #291C22 -1px -1px 0, #291C22 -1px 1px 0, #291C22 1px -1px 0;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 0.6px;
  cursor: pointer;
}
.logo__img-wrap {
  width: 93px;
  height: 93px;
}
.logo__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  font-size: 1.6rem;
}
.logo__title {
  position: absolute;
  left: 46px;
  bottom: 7px;
  width: 110px;
}
.logo__title--red {
  color: #E13D3E;
  text-shadow: none;
  text-shadow: #291C22 1px 1px 0, #291C22 -1px -1px 0, #291C22 -1px 1px 0, #291C22 1px -1px 0;
  -webkit-text-stroke-color: #E13D3E;
  -webkit-text-stroke-width: 0.6px;
}
.logo__title-decor {
  position: relative;
}
.logo__title-decor::before {
  content: '';
  z-index: 1;
  position: absolute;
  top: 43%;
  left: -10px;
  width: 14px;
  height: 14px;
  background-image: url('../img/svg/logo-star.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.main-nav {
  display: flex;
}
.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main-nav__item {
  position: relative;
  margin-right: 2.7rem;
}
.main-nav__item:last-child {
  margin-right: 0;
}
.main-nav__item:hover .main-nav__sublist,
.main-nav__link:focus + .main-nav__sublist {
  visibility: visible;
  opacity: 1;
}
.main-nav__link {
  display: block;
  position: relative;
  color: inherit;
  cursor: pointer;
}
.main-nav__sublist {
  box-sizing: border-box;
  position: absolute;
  z-index: 5;
  top: 7.2rem;
  visibility: hidden;
  opacity: 0;
  transition-duration: 0.3s;
  width: 30.1rem;
  padding: 2.6rem;
  background-color: #F5F5F5;
}
.main-nav__subitem {
  margin-bottom: 2rem;
}
.main-nav__subitem:last-child {
  margin-bottom: 0;
}
.main-nav__sublink {
  display: block;
}
.main-nav__search-toggle {
  margin-left: auto;
}
@media (max-width: 48em) {
  .main-nav {
    display: none;
    width: 100%;
  }
  .main-nav__list {
    flex-direction: column;
    font-size: 20px;
  }
  .main-nav__item {
    position: relative;
    margin-top: 0;
    margin-right: 0px;
    padding: 18px 0;
    border-bottom: 1px solid #3E3E3E;
  }
  .main-nav__link {
    padding: 0;
  }
  .main-nav__link::before {
    content: none;
  }
  .main-nav-sub {
    position: relative;
  }
  .main-nav-sub::after {
    content: '+';
    position: absolute;
    right: 0;
  }
  .main-nav-sub.active::after {
    content: '-';
  }
  .main-nav__sublist {
    display: none;
    position: relative;
    top: 0;
    visibility: visible;
    opacity: 1;
    width: auto;
    padding: 0;
    padding-left: 22px;
    font-weight: 300;
    text-transform: none;
    background-color: transparent;
  }
  .main-nav__sublist.active {
    display: block;
  }
  .main-nav__subitem {
    margin: 18px 0;
  }
  .main-nav__sublink {
    color: #fff;
  }
}
.select-lang {
  position: relative;
}
.select-lang.custom::after {
  content: none;
}
.select-lang::after,
.custom-select::after {
  content: '';
  position: absolute;
  z-index: 0;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  border: 4px solid #F5D087;
  border-top-color: #F5D087;
  border-bottom-width: 0px;
  border-right-color: transparent;
  border-left-color: transparent;
  cursor: pointer;
  transition: 0.5s;
}
.select-lang__select {
  padding-right: 10px;
}
.select-lang__select option {
  color: #000;
}
.select-lang__select,
.custom-select__option,
.custom-select {
  box-sizing: border-box;
  width: 100%;
  font-family: 'Circe', 'Arial', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  color: #fff;
  border: none;
  background-color: transparent;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
}
.custom-select {
  min-width: 36px;
  padding-right: 12px;
}
.custom-select--active::after {
  transform: translateY(-50%) rotate(-180deg);
}
.custom-select__option {
  height: 24px;
  transition: 0.5s;
}
.custom-select__option:hover,
.custom-select__option:focus {
  color: #291C22;
  background-color: #fff;
}
.custom-select__option--value {
  margin-top: 0;
  margin-bottom: 0;
}
.custom-select__option--value:hover,
.custom-select__option--value:focus {
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
}
.custom-select__dropdown {
  position: absolute;
  z-index: 10;
  background-color: #291C22;
}
.search-toggle {
  color: inherit;
}
.search__form {
  position: relative;
}
.search__input {
  box-sizing: border-box;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 4.5rem;
  font-size: 1.6rem;
  border-radius: 0.2rem;
  border: 0.1rem solid #D3D3D3;
  color: #777;
}
.search__icon {
  position: absolute;
  top: 1rem;
  right: 1.7rem;
  cursor: pointer;
}
.main-nav__search {
  display: none;
}
@media (max-width: 420px) {
  .search__input {
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    padding-left: 1.5rem;
    padding-right: 4.5rem;
    font-size: 1.6rem;
    line-height: 2.3rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
  }
  .search__icon {
    top: 50%;
    transform: translateY(-50%);
    right: 2.381vw;
  }
}
.menu-toggle {
  position: relative;
  width: 4rem;
  height: 3.6rem;
  padding: 0;
  color: transparent;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.menu-toggle span {
  position: relative;
  z-index: 1;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 0.2rem;
  font-size: 0;
  color: transparent;
  background-color: #fff;
  cursor: pointer;
  border-radius: 0.3rem;
}
.menu-toggle.active span {
  background-color: transparent;
}
.menu-toggle::before,
.menu-toggle::after {
  content: "";
  position: absolute;
  right: 0px;
  width: 100%;
  height: 0.2rem;
  background-color: #fff;
  border-radius: 0.3rem;
}
.menu-toggle::before {
  top: 0;
}
.menu-toggle::after {
  bottom: 0;
}
.active.menu-toggle::before {
  top: 1.4rem;
  transform: rotate(-45deg);
}
.active.menu-toggle::after {
  bottom: 2rem;
  transform: rotate(45deg);
}
@media (max-width: 380px) {
  .menu-toggle {
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=style.css.map */
