/* fonts */

.DaVinci {
  position: relative;

  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;

  font-family: @daVinci;
  font-size: 44px;
  // line-height: 77px;
  letter-spacing: -0.02em;
  text-transform: initial;
  color: @gold;

  transform: rotate(-5.91deg);
}

.blaster {
  display: inline-block;
  font-family: @blaster;
  &--green {
    color: @emerald;
  }
}

/* buttons */

.btn-submit {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 37px;
  height: 37px;

  border-radius: 50%;
  background-color: @white;

  transition: @s;

  &__icon {
    fill: @dark;
  }

  &:hover,
  &:focus {
    background-color: @white-hover;
  }

  &::before {
    content: '';
    position: absolute;
    left: -1px;

    width: 7px;
    height: 7px;

    border-radius: 50%;

    background-color: @emerald;
  }
}

.btn-modal {
  box-sizing: border-box;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 255px;
  height: 57px;

  font-weight: 700;
  font-size: 17px;
  text-align: center;

  border-radius: 10px;

  transition: @s;

  &__decor-line {
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);

    width: 88px;
    height: 5px;

    background-color: @emerald;

    transition: inherit;

    &::before,
    &::after {
      content: '';
      position: absolute;
      bottom: 0;

      height: 0;
      width: 0;
      border-top: 5px solid transparent;
    }

    &::before {
      left: -3px;
      border-right: 3px solid @emerald;
    }

    &::after {
      right: -3px;
      border-left: 3px solid @emerald;
    }
  }

  &:hover,
  &:focus {
    outline: none;
    .btn-modal__decor-line {
      width: 55%;
    }
  }

  &--dark {
    color: #fff;
    background-color: @btn-dark-bg;
    border: 2px solid @btn-dark-border;
    box-shadow: 10px 10px 40px rgba(62, 53, 75, 0.29);
    &:hover,
    &:focus {
      background-color: @brown;
    }
  }
  &--white {
    color: @dark;
    background-color: @btn-white-bg;
    border: 2px solid @btn-white-border;
    // box-shadow: #C8D9EC;
    box-shadow: 10px 10px 40px #C8D9EC;
    &:hover,
    &:focus {
      box-shadow: none;
      background-color: @btn-white-border;
      // background-color: #fff;
    }
  }
  &--longer {
    width: 305px;
    .btn-modal__decor-line {
      width: 130px;
    }
  }
}

.btn-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 70px;
  height: 82px;

  background-color: #FFFFFF;
  box-shadow: 8px 8px 15px #D5E1F3;
  border-radius: 90px;

  transition: @s;

  &__icon {
    fill: @dark;
    transition: inherit;
  }

  &:hover,
  &:focus {
    outline: none;
    box-shadow: none;
    .btn-link__icon {
      fill: @icon-dark-hover;
    }
  }
}

.btn-region-1 {
  position: relative;
  display: flex;
  align-items: center;

  color: inherit;

  transition: @s;

  &__icon {
    margin-right: 4px;
    transition: inherit;
  }

  &:hover,
  &:focus {
    outline: none;
    // opacity: 0.7;
    .btn-region-1__icon {
      color: #000;
    }
  }

  &--color-inherit {
    &:hover,
    &:focus {
      opacity: 0.7;
      .btn-region-1__icon {
        color: inherit;
      }
    }
  }
}

.btn-region-2 {
  position: relative;
  display: flex;
  align-self: flex-start;

  // width: 304px;
  width: 273px;

  font-weight: 700;
  font-size: 17px;

  transition: @s;

  &__icon {
    position: absolute;
    left: -30px;

    color: #CACACA;

    // margin-right: 4px;
  }

  &::before {
    content: '';
    position: absolute;
    // left: 33px;
    // bottom: 9px;
    bottom: -6px;

    // width: 270px;
    width: 100%;
    height: 3px;

    background-color: @red;
    border-radius: 9px;

    transition: inherit;
  }

  &:hover,
  &:focus {
    outline: none;
    // opacity: 0.7;
    .btn-region-2__icon {
      color: rgba(0,0,0,1);
    }
  }
}

.btn-compare {
  position: relative;

  display: flex;
  align-items: center;

  width: 148px;
  height: 29px;
  // padding-left: 20px;
  padding-left: 27px;

  font-weight: 700;
  font-size: 16px;
  color: #fff;

  background-color: rgba(35, 46, 62, 0.64);
  border-radius: 90px;

  transition: @s;

  &__icon {
    position: absolute;
    top: 4px;
    left: 7px;
    fill: #fff;

    transition: inherit;
  }

  &:hover,
  &:focus {
    outline: none;
    color: @icon-white-hover;
    .btn-compare__icon {
      fill: @icon-white-hover;
    }
  }

  &__desc {
    position: absolute;
    transition: @s;
  }

  &__selected {
    // display: none;
    // position: absolute;
    // top: 0;
    opacity: 0;
    visibility: hidden;
  }

  &.selected {
    .btn-compare__selected {
      opacity: 1;
      visibility: visible;
    }
    .btn-compare__not-selected {
      opacity: 0;
      visibility: hidden;
    }
  }
}

/* shapes */

.aside-item {
  position: absolute;
}

/* text */

.section-title {
  font-weight: 700;
  font-size: 38px;
  line-height: 40px;
}

.section-desc {
  color: @light-gray;
  line-height: 27px;
}

/* icons */

/*
 .icon-close
 .icon-search
 .icon-region-1
 .icon-region-2
 .icon-arrow (--right)
 .icon-arrow-short (--right / --left)
*/

/* меняем цвет через color, так как внутри currentColor */
#icon-region-1 {
  transition: @s;
  path {
    // fill: red;
  }
  circle {
    // stroke: red;
  }
}

/* меняем цвет через color, так как внутри currentColor */
#icon-region-2 {
  transition: @s;
  // fill: red;
  path {
    // stroke: red;
  }
}
