/* fonts */

.DaVinci {
  position: relative;

  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;

  // font-family: @daVinci;
  font-family: var(--font-daVinci);
  font-size: 4.4rem;
  // line-height: 77px;
  letter-spacing: -0.02em;
  text-transform: initial;
  color: @gold;

  transform: rotate(-5.91deg);
}

.blaster {
  display: inline-block;
  // font-family: @blaster;
  font-family: var(--font-blaster);
  font-style: italic;
  font-weight: 400;
  &--green {
    color: @emerald;
  }
}

/* buttons */

.btn-submit {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 3.7rem;
  height: 3.7rem;

  border-radius: 50%;
  background-color: @white;

  transition: @s;

  &__icon {
    fill: @dark;
  }

  &:hover,
  &:focus {
    background-color: @white-hover;
  }

  &::before {
    content: '';
    position: absolute;
    left: -0.1rem;

    width: 0.7rem;
    height: 0.7rem;

    border-radius: 50%;

    background-color: @emerald;
  }
}

.btn-modal {
  box-sizing: border-box;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 25.5rem;
  height: 5.7rem;

  font-weight: 700;
  font-size: 1.7rem;
  text-align: center;

  border-radius: 1rem;

  transition: @s;

  &__decor-line {
    position: absolute;
    bottom: -0.2rem;
    left: 50%;
    transform: translateX(-50%);

    width: 8.8rem;
    height: 0.5rem;

    background-color: @emerald;

    transition: inherit;

    &::before,
    &::after {
      content: '';
      position: absolute;
      bottom: 0;

      height: 0;
      width: 0;
      border-top: 0.5rem solid transparent;
    }

    &::before {
      left: -0.3rem;
      border-right: 0.3rem solid @emerald;
    }

    &::after {
      right: -0.3rem;
      border-left: 0.3rem solid @emerald;
    }
  }

  &:hover,
  &:focus {
    outline: none;
    .btn-modal__decor-line {
      width: 55%;
    }
  }

  &--dark {
    color: #fff;
    background-color: @btn-dark-bg;
    border: 0.2rem solid @btn-dark-border;
    box-shadow: 10px 10px 40px rgba(62, 53, 75, 0.29);
    &:hover,
    &:focus {
      background-color: @brown;
    }
  }
  &--white {
    color: @dark;
    background-color: @btn-white-bg;
    border: 0.2rem solid @btn-white-border;
    // box-shadow: #C8D9EC;
    box-shadow: 10px 10px 40px #C8D9EC;
    &:hover,
    &:focus {
      box-shadow: none;
      background-color: @btn-white-border;
      // background-color: #fff;
    }
  }
  &--long {
    width: 30.5rem;
    .btn-modal__decor-line {
      width: 13.0rem;
    }
  }

  &.desktop-block {
    display: flex;
  }

  &.mobile-block {
    display: none;
  }
}

.btn-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 7rem;
  height: 8.2rem;

  background-color: #FFFFFF;
  box-shadow: 8px 8px 15px #D5E1F3;
  border-radius: 9rem;

  transition: @s;

  &__icon {
    fill: @dark;
    transition: inherit;
  }

  &:hover,
  &:focus {
    outline: none;
    box-shadow: none;
    .btn-link__icon {
      fill: @icon-dark-hover;
    }
  }
}

.btn-region-1 {
  position: relative;
  display: flex;
  align-items: center;

  color: inherit;

  padding-left: 2rem;

  transition: @s;

  &::before {
    position: absolute;
    content: '';
    top: -0.1rem;
    left: -0.2rem;

    width: 1.8rem;
    height: 2.3rem;

    background-image: url('../img/svg/region-1-w.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__icon {
    margin-right: 0.4rem;
    transition: inherit;
  }

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.7;
    // .btn-region-1__icon {
    //   color: #000;
    // }
  }

  // &--color-inherit {
  //   &:hover,
  //   &:focus {
  //     opacity: 0.7;
  //     .btn-region-1__icon {
  //       color: inherit;
  //     }
  //   }
  // }
}

.btn-region-2 {
  position: relative;
  display: flex;
  align-self: flex-start;

  width: 27.3rem;

  font-weight: 700;
  font-size: 1.7rem;

  transition: @s;

  &__icon {
    position: absolute;
    left: -3rem;

    color: #CACACA;
    transition: inherit;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: -0.6rem;

    width: 100%;
    height: 0.3rem;

    background-color: @red;
    border-radius: 0.9rem;

    transition: inherit;
  }

  &:hover,
  &:focus {
    outline: none;
    // opacity: 0.7;
    .btn-region-2__icon {
      color: rgba(0,0,0,1);
    }
  }
}

.btn-compare {
  position: relative;

  display: flex;
  align-items: center;

  width: 14.8rem;
  height: 2.9rem;
  padding-left: 2.7rem;

  font-weight: 700;
  font-size: 1.6rem;
  color: #fff;

  background-color: rgba(35, 46, 62, 0.64);
  border-radius: 9rem;

  transition: @s;

  &__icon {
    position: absolute;
    top: 0.4rem;
    left: 0.7rem;
    fill: #fff;

    transition: inherit;
  }

  &:hover,
  &:focus {
    outline: none;
    color: @icon-white-hover;
    .btn-compare__icon {
      fill: @icon-white-hover;
    }
  }

  &__desc {
    position: absolute;
    transition: @s;
  }

  &__selected {
    opacity: 0;
    visibility: hidden;
  }

  &.selected {
    .btn-compare__selected {
      opacity: 1;
      visibility: visible;
    }
    .btn-compare__not-selected {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.btn-tel {
  width: 2.8rem;
  height: 2.8rem;

  color: #000;

  transition: @s;

  // border-radius: 8.5px;
  // background-color: #fff;

  &__icon {}

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.7;
  }
}

/* shapes */

.aside-item {
  position: absolute;
}

/* text */

.section-title {
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 4rem;
}

.section-desc {
  color: @light-gray;
  line-height: 2.7rem;
}

/* icons */

.icon-search {
  width: 2.3rem;
  height: 2.3rem;
}

.icon-close {
  width: 2.3rem;
  height: 2.3rem;
}

// .icon-region-1 {
//   width: 1.8rem;
//   height: 2.3rem;
// }

// #icon-region-1 {
//   path {
//     // mask: url(../#mask-icon-region-1);
//     // mask: url(../img/sprite.svg#mask-icon-region-1);
//   }
// }

.icon-region-2 {
  width: 2.6rem;
  height: 3.2rem;
}

.icon-arrow {
  width: 3.1rem;
  height: 1.1rem;
}

.icon-arrow-short {
  width: 1.3rem;
  height: 2.5rem;
}

.icon-compare {
  width: 1.5rem;
  height: 1.5rem;
}

.icon-logo-star {}

/* меняем цвет через color, так как внутри currentColor */
#icon-region-1 {
  // transition: @s;
  // path {
    // fill: red;
  // }
  // circle {
    // stroke: red;
  // }
}

/* меняем цвет через color, так как внутри currentColor */
#icon-region-2 {
  // transition: @s;
  // fill: red;
  // path {
    // stroke: red;
  // }
}

.icon-tel {
  color: currentColor;
  --btn-tel-bg: #fff;

  width: 2.8rem;
  height: 2.8rem;
}

.icon-triangle-bottom {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  right: 0;

  width: 1.6rem;
  height: 1.6rem;
  fill: @light-gray;

  transition: @s;
}

.active .icon-triangle-bottom,
.active.icon-triangle-bottom {
  transform: translateY(-50%) rotate(180deg);
}

@media (max-width: @tablet-width) {
  .DaVinci {
    font-size: 3rem;
  }

  .btn-modal {
    width: 32.4rem;
    height: 5rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;

    &__decor-line {
      width: 11rem;
    }

    &.desktop-block {
      display: none;
    }

    &.mobile-block {
      display: flex;
    }
  }

  .btn-link {
    width: 3.7rem;
    height: 4.3rem;
    border-radius: 4.65rem;
  }

  .btn-region-2 {
    // width: calc(100% - 24px);
    width: 31.3rem;
    margin-left: 2.4rem;
    font-size: 1.5rem;

    &__icon {
      // top: 1rem;
      top: 0.4rem;
      left: -2.8rem;
      color: #000;
    }
    &::before {
      height: 0.2rem;
    }
  }

  .btn-compare {
    width: 11.2rem;
    height: 2rem;
    padding-left: 2.2rem;
    font-size: 1.2rem;
    &__icon {
      top: 0.4rem;
      left: 0.7rem;
    }
  }

  .section-title {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .section-desc {
    font-size: 1.3rem;
    line-height: 1.6rem;
  }

  .icon-arrow-short {
    width: 1.1rem;
    height: 1.2rem;
  }

  .icon-region-2 {
    width: 2.2rem;
    height: 2.8rem;
  }

  .icon-compare {
    width: 1rem;
    height: 1rem;
  }

  .icon-triangle-bottom {
    width: 1.4rem;
    height: 1.4rem;
  }
}

// @media (max-width: 23em) {
//   .btn-modal {
//     &__decor-line {
//       &::before {
//         // left: -0.2rem;
//       }
//       &::after {
//         // right: -0.2rem;
//       }
//     }
//   }
// }
