// Circe
@font-face {
  font-display: swap;
  font-family: "Circe";
  src: local("Circe Light"),
       local("Circe-Light"),
       url("../fonts/Circe/light/Circe-Light.woff2") format("woff2"),
       url("../fonts/Circe/light/Circe-Light.woff") format("woff"),
       url("../fonts/Circe/light/Circe-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Circe";
  src: local("Circe"),
       local("Circe Regular"),
       local("Circe-Regular"),
       url("../fonts/Circe/regular/Circe-Regular.woff2") format("woff2"),
       url("../fonts/Circe/regular/Circe-Regular.woff") format("woff"),
       url("../fonts/Circe/regular/Circe-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Circe";
  src: local("Circe Bold"),
       local("Circe-Bold"),
       url("../fonts/Circe/bold/Circe-Bold.woff2") format("woff2"),
       url("../fonts/Circe/bold/Circe-Bold.woff") format("woff"),
       url("../fonts/Circe/bold/Circe-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Circe";
  src: local("Circe ExtraBold"),
       local("Circe-ExtraBold"),
       url("../fonts/Circe/extrabold/Circe-ExtraBold.woff2") format("woff2"),
       url("../fonts/Circe/extrabold/Circe-ExtraBold.woff") format("woff"),
       url("../fonts/Circe/extrabold/Circe-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

// MADECanvas
@font-face {
  font-display: swap;
  font-family: 'MADECanvas';
  src: local('MADE Canvas'),
       local('MADECanvas'),
       local('MADECanvas Regular'),
       local('MADECanvas-Regular'),
       url('../fonts/MADECanvas/regular/MADECanvas.woff2') format('woff2'),
       url('../fonts/MADECanvas/regular/MADECanvas.woff') format('woff'),
       url('../fonts/MADECanvas/regular/MADECanvas.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

// @font-face {
//   font-display: swap;
//   font-family: 'MADECanvas';
//   src: local('MADECanvas Black'),
//        local('MADECanvas-Black'),
//        url('../fonts/MADECanvas/black/MADECanvas-Black.woff2') format('woff2'),
//        url('../fonts/MADECanvas/black/MADECanvas-Black.woff') format('woff'),
//        url('../fonts/MADECanvas/black/MADECanvas-Black.ttf') format('truetype');
//   font-weight: 900;
//   font-style: normal;
// }

// Blaster (italic)
@font-face {
  font-display: swap;
  font-family: 'BlasterIt';
  src: local('BlasterIt'),
       local('Blaster Italic'),
       local('Blaster-Italic'),
       url('../fonts/Blaster/regular/BlasterIt.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

// DaVinci
@font-face {
  font-display: swap;
  font-family: 'PF DaVinci Script Pro';
  src: local('PFDaVinciScriptPro Regular'),
       local('PFDaVinciScriptPro-Regular'),
       url('../fonts/PFDaVinciScriptPro/regular/PFDaVinciScriptPro-Regular.woff') format('woff'),
       url('../fonts/PFDaVinciScriptPro/regular/PFDaVinciScriptPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PF DaVinci Script Pro Inked';
  src: url('PFDaVinciScriptPro-Inked.eot');
  src: local('PFDaVinciScriptPro-Inked'),
    url('PFDaVinciScriptPro-Inked.eot?#iefix') format('embedded-opentype'),
    url('PFDaVinciScriptPro-Inked.woff') format('woff'),
    url('PFDaVinciScriptPro-Inked.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Myriad
@font-face {
  font-display: swap;
  font-family: 'Myriad Pro';
  src: local('Myriad Pro Semibold Italic'),
       local('MyriadPro-SemiboldIt'),
       url('../fonts/MyriadPro/semibold/MyriadPro-SemiboldIt.woff2') format('woff2'),
       url('../fonts/MyriadPro/semibold/MyriadPro-SemiboldIt.woff') format('woff'),
       url('../fonts/MyriadPro/semibold/MyriadPro-SemiboldIt.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
