.rehab-swiper {
  padding-top: 12.5rem;
  padding-bottom: 12.5rem;

  &-filter {
    padding-top: 6.9rem;
  }
  &-pb-small {
    padding-bottom: 6rem;
  }
}

.rehab-swiper__main-text-wrap {
  display: flex;
  justify-content: space-between;
  // margin-bottom: 1.5rem;
  margin-bottom: 3.5rem;
}

.rehab-swiper__main-title {}

.rehab-swiper__btn-region {
  padding-top: 0.5rem;
}

.rehab-swiper__big-container {}

.rehab-swiper__swiper-container {}

// .rehab-swiper__hover {
//   width: 30.5rem;
//   border-radius: 7rem;
// }

.rehab-swiper__slide {}

.rehab-swiper__item {
  box-sizing: border-box;

  overflow: hidden;
  position: relative;

  width: 30.5rem;
  // width: 100%;
  height: 50.5rem;

  background-image: linear-gradient(180deg, #FFFFFF 0%, #E6F1FD 100%);
  border-radius: 7rem;

  transition: @s;

  // &.tab-focus,
  // &:hover,
  // &:focus {
  //   box-shadow: 0px 30px 50px #B7C3DF;
  // }
}

// .tab-focus .rehab-swiper__item,
.rehab-swiper__item:hover,
.rehab-swiper__item:focus-within {
  box-shadow: 0px 30px 50px #B7C3DF;
}

.rehab-swiper__link {}

.rehab-swiper__text-wrap {
  position: relative;
  z-index: 1;
  padding-top: 5rem;
  padding-left: 3.2rem;
  padding-right: 3.2rem;

  &::before,
  &::after {
    position: absolute;
    content: '';
    z-index: -1;
    left: 0;
    width: 100%;
  }

  &::before {
    bottom: -10.6rem;
    // top: 0;
    // height: 51rem;

    height: 25rem;

    background-image: url('../img/figure/clip-small-top.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &::after {
    top: 0;
    height: 65%;
    background-color: #fff;
  }
}

.rehab-swiper__title {
  font-family: @font-decor-f;
  font-style: italic;
  font-size: 2.5rem;
  line-height: 3.5rem;
}

.rehab-swiper__desc {
  margin-bottom: 0.7rem;
}

.rehab-swiper__cost {
  font-weight: 700;
  font-size: 2.2rem;
}

 // #clip-small-top {
 //  -webkit-transform:scale(0.004195862879,0.005554321262);
 //      transform:scale(0.004195862879,0.005554321262);
 // }

.rehab-swiper__img-wrap {
  position: absolute;
  bottom: 0;
  z-index: 0;

  display: flex;
  width: 100%;
  height: 39.8rem;

  /* свг-маска */
  // clip-path: url(../#clip-small-top);
  // clip-path: url(../img/sprite.svg#clip-small-top);
  // filter: url(../#filter-small-top);
  filter: url(../img/sprite.svg#filter-small-top);

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
  }

  &::before {
    bottom: 0;
    left: 0;

    // height: 32.8rem;
    // height: 100%;
    // height: 37.8rem;
    height: 39.8rem;

    border-radius: 7rem 0 7rem 7rem;
    box-shadow: inset 20px 40px 60px rgba(0, 0, 0, 0.25);

    // @media (max-width: 96em) {
    //   height: 33.1rem;
    // }
  }

  // &::after {
  //   top: 0;
  //   right: 0;

  //   // height: 7rem;
  //   height: 6.8rem;

  //   transform: rotate(180deg);
  //   box-shadow:
  //     20px 40px 60px rgba(0, 0, 0, 0.25),
  //     20px 40px 60px rgba(0, 0, 0, 0.25) inset;
  // }
}

.rehab-swiper__img {
  .img-cover;
  border-radius: 7rem 0 7rem 7rem;
}

.rehab-swiper__btn-compare {
  position: absolute;
  z-index: 1;
  bottom: 1.4rem;
  left: 3.5rem;
}

.rehab-swiper__aside-item {
  display: none;
  bottom: 5.2rem;
}

.benefit {
  .rehab-swiper__aside-item {
    display: flex;
  }
}

.rehab-swiper__arrows-wrap {
  margin-bottom: 2rem;
}

.rehab-swiper__button-next {}

.rehab-swiper__button-prev {}

.rehab-swiper__swiper-pagination {}

.rehab-swiper__btn-modal {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
}

.rehab-swiper__filter {}

.rehab-swiper__map-wrap {
  height: 45.1rem;

  margin-top: 3.3rem;
  margin-bottom: 3.3rem;
}

.rehab-swiper__map {
  width: 100%;
  height: 100%;

  background-color: #E9EDF5;
  border-radius: 5rem;

  overflow: hidden;
}

.rehab-swiper__rehab-compare-link {}

.rehab-swiper-list {
  padding-top: 0;
  padding-bottom: 0;
  .rehab-swiper__text-wrap {
    padding-top: 1.8rem;
    &::before,
    &::after {
      width: 100.5%;
    }
    &::before {
      bottom: -16rem;
      // height: 25rem;
      background-image: url('../img/figure/clip-compare-top.png');
    }
  }
  .rehab-swiper__item {
    // height: 39rem;
    height: 46rem;
    border-radius: 4rem 4rem 0 0;
    // &.tab-focus,
    // &:hover,
    // &:focus {
    //   box-shadow: none;
    // }
  }
  // .tab-focus .rehab-swiper__item,
  .rehab-swiper__item:hover,
  .rehab-swiper__item:focus-within {
    box-shadow: none;
  }
  .rehab-swiper__img-wrap::before,
  .rehab-swiper__img {
    border-radius: 7rem 0 0rem 0rem;
  }
  .rehab-swiper__aside-item {
    // bottom: 15.5rem;
    bottom: 7.2rem;

  }
  .rehab-swiper__btn-compare {
    bottom: 7.6rem;
  }
}

@media (max-width: @tablet-width) {
  .rehab-swiper {
    // padding-top: 9.9rem;
    // padding-bottom: 9.9rem;

    padding-top: 6rem;
    padding-bottom: 6rem;

    // &-filter {
      // padding-top: 6.9rem;
    // }
    // &-pb-small {
      // padding-bottom: 6rem;
    // }
  }

  .rehab-swiper__main-text-wrap {
    flex-direction: column;
    margin-bottom: 3.4rem;
  }

  .rehab-swiper__main-title {
    margin-bottom: 1.8rem;
  }

  .rehab-swiper__btn-region {
    padding-top: 0.5rem;
  }

  .rehab-swiper__big-container {}

  .rehab-swiper__swiper-container {}

  .rehab-swiper__slide {}

  .rehab-swiper__item {
    width: 16.5rem;
    height: 26.9rem;

    // border-radius: 3rem;
    border-radius: 4rem;

    &.tab-focus,
    &:hover,
    &:focus {
      box-shadow: 0px 30px 50px #B7C3DF;
    }
  }

  .rehab-swiper__link {}

  .rehab-swiper__text-wrap {
    padding-top: 2.3rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;

    &::before {
      bottom: -5.2rem;
      height: 13rem;

      // bottom: -8.6rem;
      // background-image: url('../img/figure/clip-compare-top.png');
    }
  }

  .rehab-swiper__title {
    margin-bottom: 0.3rem;

    font-weight: 700;
    font-family: @font-main;
    font-style: normal;
    font-size: 1.7rem;
    line-height: 1.8rem;
  }

  .rehab-swiper__desc {
    margin-bottom: 0.3rem;
  }

  .rehab-swiper__cost {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }

  .rehab-swiper__img-wrap {
    height: 21rem;
    &::before {
      bottom: 0;
      left: 0;

      height: 37.8rem;

      border-radius: 0;
    }
  }

  .rehab-swiper__img {
    border-radius: 0;
  }

  .rehab-swiper__btn-compare {
    bottom: 0.6rem;
    left: 2.4rem;
  }

  .rehab-swiper__aside-item {
    // bottom: 6.8rem;
    bottom: 2.5rem;
  }

  .rehab-swiper__arrows-wrap {
    margin-bottom: 2rem;
  }

  .rehab-swiper__button-next {}

  .rehab-swiper__button-prev {}

  .rehab-swiper__swiper-pagination {}

  .rehab-swiper__btn-modal {
    margin-bottom: 4rem;
  }

  .rehab-swiper__filter {
     // margin-bottom: 8rem;
  }

  .rehab-swiper__map-wrap {
    height: 33.8rem;
    // margin-top: 3.3rem;
    // margin-bottom: 3.3rem;
  }

  .rehab-swiper__map {}

  .rehab-swiper__rehab-compare-link {}

  .rehab-swiper-list {
    padding-top: 0;
    padding-bottom: 0;
    .rehab-swiper__text-wrap {
      &::before {
        // bottom: -11rem;
        bottom: -8.6rem;

        // background-image: url('../img/figure/clip-small-top.png');
        // bottom: -6.6rem;
      }
    }
    .rehab-swiper__item {
      width: auto;
      height: 29rem;
      // height: 46rem;
      border-radius: 2rem 2rem 0 0;
    }
    .rehab-swiper__img-wrap::before,
    .rehab-swiper__img {
      border-radius: 2rem 0 0rem 0rem;
    }
    .rehab-swiper__aside-item {
      // bottom: 11rem;
      bottom: 4.6rem;
    }
    .rehab-swiper__btn-compare {
      left: 1.2rem;
      // bottom: 5.8rem;
      bottom: 3.8rem;
      width: 7.8rem;
    }
  }
}
