.about-rehab {
  min-height: 42.5rem;
  padding-top: 6.8rem;
  padding-bottom: 4.5rem;
}

.about-rehab__breadcrumbs {
  margin-top: 0;
  margin-bottom: 5.6rem;
}

.about-rehab__wrap {
  width: 63rem;
}

.about-rehab__subtitle,
.about-rehab__item-title,
.about-rehab__more-title {
  font-size: 1.6rem;
}

.about-rehab__subtitle {
  margin-bottom: 0.5rem;
  color: @light-gray;
  font-weight: 700;
}

.about-rehab__title {
  margin-bottom: 2.7rem;
}

.about-rehab__img,
.about-rehab__img-wrap,
.about-rehab__img-wrap::before {
  border-radius: 0 20rem;
}

.about-rehab__img-wrap {
  position: absolute;
  // top: -6rem;
  top: 7.5rem;
  right: 2.7rem;

  width: 66.9rem;
  height: 41.1rem;

  &::before {
    content: '';
    position: absolute;

    top: -0.8rem;
    right: -0.8rem;
    width: 68.7rem;
    height: 42.7rem;

    background-image: url('../img/figure/rehab-img-decor-d.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.about-rehab__img {
  .img-cover;
}

.about-rehab__list {
  margin-bottom: 2.6rem;
}

.about-rehab__item {
  margin-bottom: 2.8rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.about-rehab__item-title {
  margin-bottom: 0.7rem;
}

.about-rehab__item-desc {
  font-weight: 700;
}

.about-rehab__more-title {
  width: 29rem;
  line-height: 2.4rem;
  color: @light-gray;
}

.about-rehab__more-list {
  display: flex;
  margin-top: 1rem;
}

.about-rehab__more-item {
  margin-right: 2.2rem;
}

.about-rehab__btn-modal {
}
