.about-service {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 51.5rem;
  padding-bottom: 9rem;
}

// изображение битое? пока сделаю в лоб
.about-service__img-wrap {
  z-index: -1;
  position: absolute;
  top: -8.3rem;
  left: 50%;
  transform: translateX(-50%);

  max-width: 1920px;
  max-height: 893px;
  width: 100%;
  height: 46.510vw;
}

.about-service__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-service__caption {
  margin-bottom: 2rem;
  font-size: 2.2rem;
}

.about-service__title {
  margin-bottom: 2.4rem;
}

.about-service__subtitle {
  margin-bottom: 3.2rem;
}

.about-service__btn-modal {}

@media (max-width: @tablet-width) {
}
