.articles-preview-block {
  display: flex;
}
.articles-preview-block-three-column {
  justify-content: space-between;
}

.articles-preview-block__column {
  .articles-preview-block__item {
    margin-bottom: 3.5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.articles-preview-block__column,
.articles-preview-block__item {
  width: 30.6rem;
  border-radius: 4rem;
}

.articles-preview-block__column-big {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 65.5rem;
  border-radius: 5rem;
}

.articles-preview-block__articles-preview {
  align-self: flex-start;
}

.articles-preview-block__item {
  position: relative;
  min-height: 48.2rem;
  overflow: hidden;

  transition: @s;

  &:hover,
  &:focus {
    box-shadow: 30px 30px 55px #BFC5D8;
  }
}

.articles-preview-block__img-wrap {
  position: relative;
  width: 100%;
  height: 23.4rem;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 7.2rem;

    background-image: url('../img/figure/clip-small-bottom.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.articles-preview-block__img {
  .img-cover;
}

.articles-preview-block__aside-item {
  bottom: 6.6rem;
}

.articles-preview-block__text-wrap {
  box-sizing: border-box;

  position: relative;
  z-index: 0;

  display: flex;
  flex-direction: column;

  margin-top: -0.6rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 1.8rem;

  font-size: 1.6rem;
  line-height: 2.4rem;

  background-image: linear-gradient(-20deg, #FFF 0%, #E6F1FD 100%);
}

.articles-preview-block__title {
  margin-bottom: 1rem;
  font-weight: 800;
  font-size: 2rem;
  line-height: 2.5rem;
}

.articles-preview-block__desc {
  margin-bottom: 0.7rem;
}

.articles-preview-block__tag {
  font-weight: 700;
  text-decoration-line: underline;
  color: #2C2C2C;
}

.articles-preview-block__item-big {
  width: 100%;
  margin-bottom: 3.5rem;
  border-radius: 5rem;
  .articles-preview-block__img-wrap {
    height: 44.6rem;
    &::before {
      height: 10rem;
      background-image: url('../img/figure/clip-big-bottom.png');
    }
  }
  .articles-preview-block__text-wrap {
    padding-top: 0.6rem;
    background-image: linear-gradient(20deg, #FFFFFF 0%, #E6F1FD 100%);
  }
  .articles-preview-block__aside-item {
    top: 14.8rem;
    bottom: auto;
  }
}

.articles-preview-block__item-big,
.articles-preview-block__item-small {
  .articles-preview-block__text-wrap {
    padding-left: 3.3rem;
    padding-right: 3.3rem;
  }
  .articles-preview-block__title {
    font-size: 2.5rem;
    line-height: 3.7rem;
  }
  .articles-preview-block__desc {
    order: 1;
  }
  .articles-preview-block__tag {
    margin-bottom: 1.2rem;
  }
  .articles-preview-block__aside-item {
    min-width: 6.6rem;
  }
}

.articles-preview-block__item-small {
  width: 100%;
  min-height: 0;

  border-radius: 5rem;
  background: linear-gradient(180deg, #FFFFFF 0%, #F1F8FE 100%);
  .articles-preview-block__text-wrap {
    margin-top: 0;
    padding-top: 5.3rem;
    padding-bottom: 2.6rem;
  }
  .articles-preview-block__aside-item {
    top: 0;
    left: 5rem;
    bottom: auto;
    transform: rotate(0);
  }
}
