.articles-preview-block {
  // display: flex;
  --margin-bottom: 4.2rem;

  &--mb {
    margin-bottom: 10rem;
  }
}

.articles-preview-block__columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--margin-bottom);
}

.articles-preview-block__column {
  .articles-preview-block__item {
    margin-bottom: 3.5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.articles-preview-block__column,
.articles-preview-block__item {
  width: 30.6rem;
  border-radius: 4rem;
}

.articles-preview-block__column-big {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // width: 65.5rem;
  // border-radius: 5rem;
}

.articles-preview-block__articles-preview {
  align-self: flex-start;
}

.articles-preview-block__item {
  position: relative;
  min-height: 48.2rem;
  overflow: hidden;

  transition: @s;

  &:hover,
  &:focus {
    box-shadow: 30px 30px 55px #BFC5D8;
  }
}

.articles-preview-block__img-wrap {
  position: relative;
  width: 100%;
  height: 23.4rem;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 7.2rem;

    background-image: url('../img/figure/clip-small-bottom.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.articles-preview-block__img {
  .img-cover;
}

.articles-preview-block__aside-item {
  top: 14rem;
}

.articles-preview-block__text-wrap {
  box-sizing: border-box;

  position: relative;
  z-index: 0;

  display: flex;
  flex-direction: column;

  margin-top: -0.6rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 1.8rem;

  font-size: 1.6rem;
  line-height: 2.4rem;

  background-image: linear-gradient(-20deg, #FFF 0%, #E6F1FD 100%);
}

.articles-preview-block__title {
  margin-bottom: 1rem;
  font-weight: 800;
  font-size: 2rem;
  line-height: 2.5rem;
}

.articles-preview-block__desc {
  margin-bottom: 0.7rem;
}

.articles-preview-block__tag {
  font-weight: 700;
  text-decoration-line: underline;
  color: #2C2C2C;
}

.articles-preview-block__item-big,
.articles-preview-block__item-small {
  width: 100%;
  border-radius: 5rem;
  .articles-preview-block__text-wrap {
    padding-left: 3.3rem;
    padding-right: 3.3rem;
  }
  .articles-preview-block__title {
    font-size: 2.5rem;
    line-height: 3.7rem;
  }
  .articles-preview-block__desc {
    order: 1;
  }
  .articles-preview-block__tag {
    margin-bottom: 1.2rem;
  }
  .articles-preview-block__aside-item {
    min-width: 6.6rem;
  }
}

.articles-preview-block__column-big,
.articles-preview-block__item-big {
  width: 65.5rem;
  border-radius: 5rem;
}

.articles-preview-block__item-big {
  margin-bottom: var(--margin-bottom);
  .articles-preview-block__img-wrap {
    height: 44.6rem;
    &::before {
      height: 10rem;
      background-image: url('../img/figure/clip-big-bottom.png');
    }
  }
  .articles-preview-block__text-wrap {
    padding-top: 0.6rem;
    background-image: linear-gradient(20deg, #FFFFFF 0%, #E6F1FD 100%);
  }
  .articles-preview-block__aside-item {
    top: 14.8rem;
  }
}

.articles-preview-block__item-small {
  min-height: 0;

  background: linear-gradient(180deg, #FFFFFF 0%, #F1F8FE 100%);
  .articles-preview-block__text-wrap {
    margin-top: 0;
    padding-top: 5.3rem;
    padding-bottom: 2.6rem;
  }
  .articles-preview-block__aside-item {
    top: 0;
    left: 5rem;
    transform: rotate(0);
  }
}

.articles-preview-block__b {
  padding-top: calc(var(--padding-block) - var(--margin-bottom));
}

.articles-preview-block__list-wrap {}

.articles-preview-block__list-title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 2.4rem;
}

.articles-preview-block__list-title {}

.articles-preview-block__theme-detail-link {}

.articles-preview-block__list {
  display: flex;
  flex-wrap: wrap;
  .articles-preview-block__item {
    margin-right: 4.2rem;
    margin-bottom: var(--margin-bottom);
    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

@media (max-width: @tablet-width) {
  .articles-preview-block {
    --margin-bottom: 1.6rem;

    &--mb {
      // margin-bottom: 10rem;
    }
  }

  .articles-preview-block__columns {
    flex-direction: column;
  }

  .articles-preview-block__item,
  .articles-preview-block__column .articles-preview-block__item,
  .articles-preview-block__column .articles-preview-block__item:last-child {
    margin-bottom: var(--margin-bottom);
  }

  .articles-preview-block__column,
  .articles-preview-block__item {
    width: auto;
    border-radius: 0;
  }

  .articles-preview-block__column-big {
    order: -1;
    border-radius: 0;
  }

  .articles-preview-block__column-big,
  .articles-preview-block__item-big {
    width: auto;
  }

  .articles-preview-block__articles-preview {}

  .articles-preview-block__item {
    display: flex;
    flex-direction: row-reverse;

    min-height: 0;

    padding-top: 1.4rem;
    padding-left: 3.1rem;
    padding-right: 1rem;
    padding-bottom: 1.4rem;

    background: linear-gradient(200.97deg, #FFFFFF 24.15%, #F3FAFF 73.82%);
    border-radius: 3rem;
  }

  .articles-preview-block__img-wrap {
    flex-shrink: 0;
    width: 11.5rem;
    height: 11.5rem;
    margin-left: 1rem;
    &::before {
      content: none;
    }
  }

  .articles-preview-block__img {
    border-radius: 3rem;
  }

  .articles-preview-block__aside-item {
    left: 0;
    top: 50%;
    transform: rotate(-90deg) translateX(-50%);
  }

  .articles-preview-block__text-wrap {
    margin-top: 0;
    padding: 0;
    padding-top: 1rem;

    font-size: 1.4rem;
    line-height: 2rem;

    background-image: none;
  }

  .articles-preview-block__title {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    line-height: 1.9rem;
  }

  .articles-preview-block__desc {
    display: none;
  }

  .articles-preview-block__tag {}

  .articles-preview-block__item-big,
  .articles-preview-block__item-small {
    border-radius: 3rem;
    margin-bottom: var(--margin-bottom);
    padding: 0;
    .articles-preview-block__text-wrap {
      padding-bottom: 1.8rem;
    }
    .articles-preview-block__title {
      margin-bottom: 0.7rem;
      font-size: 1.7rem;
      line-height: 2.2rem;
    }
    .articles-preview-block__desc {
      display: block;
      margin-bottom: 0;
    }
    .articles-preview-block__desc,
    .articles-preview-block__tag {
      font-size: 1.5rem;
      line-height: 2rem;
    }
    .articles-preview-block__aside-item {
      top: 0;
      left: 4.6rem;
      transform: rotate(0);
      min-width: 7.4rem;
    }
  }

  .articles-preview-block__item-big {
    flex-direction: column;
    .articles-preview-block__img-wrap {
      width: 100%;
      height: 25rem;
      margin: 0;
      &::before {
        content: '';
        height: 5.6rem;
      }
    }
    .articles-preview-block__text-wrap {
      margin-top: -0.6rem;
      padding-top: 0.34rem;
      padding-left: 2.3rem;
      padding-right: 2.3rem;
    }
  }

  .articles-preview-block__item-small {
    background: linear-gradient(180deg, #FFFFFF 0%, #F5FBFF 100%);
    .articles-preview-block__text-wrap {
      padding-top: 3.9rem;padding-left: 3.1rem;
      padding-right: 1rem;
      padding-left: 3.1rem;
      padding-right: 1rem;
    }
  }

  .articles-preview-block__list-title-wrap {
    margin-top: 6.2rem;
  }

  .articles-preview-block__list {
    .articles-preview-block__item {
      margin-right: 0;
    }
  }

}
