.aside-item {
  box-sizing: border-box;

  position: absolute;
  z-index: 2;

  // top: 339px;
  left: -5.9rem;
  // bottom: 135px;
  transform: rotate(-90deg);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 14.8rem;
  height: 3.2rem;
  padding-left: 1rem;
  padding-right: 1rem;

  color: @dark;
}

.aside-item__bg-wrap {
  position: absolute;
  transform: rotate(90deg);
  // top: 28px;
  // left: 63px;
  // top: -7.2rem;
  top: -7.3rem;
  left: 5.7rem;
}

.aside-item__bg-img {
  width: 3.2rem;
  height: 17.1rem;
  fill: #fff;
}

.aside-item__desc {
  position: relative;
  z-index: 2;

  font-weight: 700;
  font-size: 1.5rem;
  word-spacing: 0.3rem;
}
