.aside-link {
  box-sizing: border-box;

  position: absolute;
  z-index: 45;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 44.7rem;
  padding-top: 0.8rem;
  padding-bottom: 0.6rem;

  .padding-inline(3rem);

  font-size: 2.7rem;
  text-align: center;

  color: #fff;

  // background-image: url('../img/figure/figure-aside-d.svg');
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: contain;

  &.tab-focus,
  &:hover {
    .aside-link__bg-img {
      fill: rgba(65,59,74,0.7);
    }
    .aside-link__link {
      opacity: 1;
    }
  }
}

.aside-link__bg-wrap {
  // display: none;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  width: 44.7rem;
  height: 4.5rem;
}

.aside-link__bg-img {
  width: 100%;
  height: 100%;

  fill: @dark-gray;

  transition: @s;
}

.aside-link__wrap {
  // box-sizing: border-box;
  // position: relative;
  // padding-top: 7px;
  // padding-bottom: 7px;
  // background-color: @dark-gray;

  // &::before,
  // &::after {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  // }

  // &::before {
  //   left: -30px;
  //   height: 0;
  //   width: 0;

  //   border-bottom: 45px solid transparent;
  //   border-left: 0px solid transparent;
  //   border-right: 30px solid @dark-gray;
  // }
}

.aside-link__link {}

.aside-link__desc {
  display: none;
}

@media (max-width: @tablet-width) {
  .aside-link {
    position: fixed;
    top: auto;
    bottom: 1rem;

    height: 4.5rem;
    width: 100%;

    padding-top: 0;
    padding-bottom: 0;

    // .padding-inline(1.5rem);
    .padding-inline(3.5rem);

    font-size: 1.6rem;

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      left: 0;
      bottom: -1rem;

      width: 100%;
      height: 1rem;
      background-color: @dark-gray;
    }

    // &::before,
    // &::after {
    //   content: '';
    //   position: absolute;
    //   z-index: -1;
    //   top: 0;

    //   width: 4rem;
    //   height: 4.5rem;

    //   background-size: cover;
    //   background-repeat: no-repeat;
    //   background-position: center;
    // }

    // &::before {
    //   left: -2rem;
    //   // left: -3.3rem;
    //   background-image: url('../img/figure/figure-aside-m-l.png');
    // }

    // &::after {
    //   right: -2rem;
    //   // right: -3.3rem;
    //   background-image: url('../img/figure/figure-aside-m-r.png');
    // }
  }

  .aside-link__bg-wrap {
    display: none;
  }

  .aside-link__wrap {

    // position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    background-color: @dark-gray;

    &::before,
    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;

      width: 4rem;
      height: 4.5rem;

      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    &::before {
      left: 0rem;
      // left: -2rem;
      // left: -3.3rem;
      background-image: url('../img/figure/figure-aside-m-l.png');
    }

    &::after {
      right: 0;
      // right: -2rem;
      // right: -3.3rem;
      background-image: url('../img/figure/figure-aside-m-r.png');
    }
  }

  .aside-link__link {}
  .aside-link__desc {
    display: inline-block;
    font-weight: 700;
    font-size: 1.3rem;
    &--dark {
      font-weight: 400;
      color: #ADB9D9;
    }
  }
}

@media (max-width: 23em) {
  .aside-link {
    bottom: 0;
  }
}
