.aside-item {
  box-sizing: border-box;

  position: absolute;
  z-index: 2;

  // top: 339px;
  left: -59px;
  // bottom: 135px;
  transform: rotate(-90deg);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 148px;
  height: 32px;
  padding-left: 10px;
  padding-right: 10px;

  color: @dark;
}

.aside-item__bg-wrap {
  position: absolute;
  transform: rotate(90deg);
  // top: 28px;
  // left: 63px;
  top: -72px;
  left: 57px;
}

.aside-item__bg-img {
  fill: #fff;
}

.aside-item__desc {
  position: relative;
  z-index: 2;

  font-weight: 700;
  font-size: 15px;
  word-spacing: 3px;
}
