.b {
  position: relative;
  display: flex;

  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.b__content-wrap {
  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;

  width: 100%;
  border-radius: 8.2rem;
}

.b {
  height: 54.3rem;
}

.b__bg-img-wrap {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 135rem;
  height: 100%;
}

.b__bg-img {
  .img-cover;
}

.b__text-wrap {
  box-sizing: border-box;

  width: 63rem;
  // margin-top: 20.5rem;
  margin-left: auto;
  margin-right: 6.6rem;
}

.b__title {
  margin-bottom: 3.0rem;
  &-item {
    margin-left: 0.8rem;
  }
  &--small {
    font-size: 3rem;
  }
}

.b__desc {
  font-size: 1.9rem;
  line-height: 2.8rem;
}

.b__btn-modal {
  margin-top: 3.4rem;
}

.b-one {
  .b__content-wrap {
    padding-top: 7.6rem;
  }
}

.b-two {
  height: 36.8rem;
  .b__text-wrap {
    width: 67rem;
    // margin-top: 6.7rem;
    margin-right: 17.8rem;
  }
  .b__title {
    margin-bottom: 2.3rem;
    &-item {
      margin-left: 0;
      margin-right: 0.8rem;
    }
  }
}

.b-three {
  height: 48.1rem;
  .b__text-wrap {
    width: 64rem;
    // margin-top: 8.4rem;
    margin-right: 6rem;
  }
  .b__title {
    font-size: 3.6rem;
    line-height: 4.5rem;
    margin-bottom: 2.3rem;
    &-item {
      margin-left: 0;
    }
  }
}

@media (max-width: @tablet-width) {
  .b {
    // padding-top: 7.5rem;
    /* padding-bottom: 7.5rem; */
    // padding-top: 2.1rem;
    // padding-bottom: 2.1rem;

    height: 65.9rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .b__content-wrap {
    border-radius: 4rem;
    align-items: flex-start;
  }

  .b__bg-img-wrap {
    width: 100%;
  }

  .b__text-wrap {
    box-sizing: border-box;
    width: 100%;
    margin-top: 5rem;
    margin-left: 0;
    margin-right: 0;

    padding-left: 1.4rem;
    padding-right: 1.4rem;
  }

  .b__title {
    margin-bottom: 1.3rem;
  }

  .b__desc {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }

  .b__btn-modal {
    width: 100%;
    margin-top: 1.7rem;
  }

  .b-one {
    .b__content-wrap {
      padding-top: 0;
    }
  }

  .b-two {
    height: 60.4rem;
    .b__text-wrap {
      width: 100%;
      margin-top: 32.8rem;
      margin-right: 0;
    }
    .b__title {
      margin-bottom: 1.4rem;
    }
    .b__desc {
      font-size: 1.6rem;
      line-height: 2.4rem;
    }
  }

  .b-three {
    height: 65.5rem;
    .b__text-wrap {
      width: auto;
      margin-top: 34.6rem;
      margin-right: 0;
    }
    .b__title {
      margin-bottom: 1.6rem;
      font-size: 2.4rem;
      line-height: 3rem;
    }
  }
}
