.breadcrumbs {
  margin-top: 6.8rem;
  // margin-bottom: 6.8rem;
  margin-bottom: 4.9rem;

  font-size: 1.6rem;
  font-weight: 700;
}

.breadcrumbs__list {
  display: flex;
}

.breadcrumbs__item {
  position: relative;
  margin-right: 3.4rem;

  &:last-child {
    margin-right: 0;
    color: @light-gray;
  }

  &::after {
    content: '>';
    position: absolute;
    top: 0;
    right: -2.3rem;
  }

  &:last-child::after {
    content: none;
  }

  &:nth-last-child(2)::after {
    color: #777;
  }
}

.breadcrumbs__link {
  text-decoration-line: underline;
}

.breadcrumbs-current {
  cursor: initial;
}

@media (max-width: @tablet-width) {
  .breadcrumbs {
    margin-top: 5.6rem;
    margin-bottom: 2.5rem;
    // font-size: 1.5rem;
  }

  .breadcrumbs__list {
    flex-wrap: wrap;
  }

  .breadcrumbs__item {
    // margin-right: 2.8rem;
    margin-right: 3.2rem;
    margin-bottom: 1rem;
    &::after {
      // right: -1.9rem;
      right: -2.1rem;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
