.compare {
  margin-top: 1.2rem;
  margin-bottom: 6rem;
}

.compare__title {
  margin-bottom: 2.4rem;
  font-size: 4rem;
  line-height: 5rem;
  &-item {
    display: block;
  }
}

.compare__subtitle {
  margin-bottom: 2.4rem;
  font-weight: 700;
  font-size: 2rem;
  color: @light-gray;
}

.compare__d-list {
  width: 97.6rem;
  margin: 0;
  margin-bottom: 8.7rem;
  font-size: 1.7rem;
  line-height: 2.5rem;

  counter-reset: definitionItem;
}

.compare__d-term {
  counter-increment: definitionItem;
  position: relative;
  &::before {
    content: counter(definitionItem) '.';
    padding-right: 0.5rem;
  }
}

.compare__d-desc {
  margin-left: 0;
  margin-bottom: 2.5rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.compare__list {
  display: flex;
  flex-wrap: wrap;
}

.compare__item {
  width: 30.5rem;
  // margin-right: 47px;
  margin-right: 4rem;
  margin-bottom: 4rem;

  box-shadow: 9px 30px 50px #B7C3DF;
  border-radius: 4rem;

  overflow: hidden;
  transition: @s;

  // &:nth-child(3n),
  &:nth-child(4n) {
    margin-right: 0;
  }

  &.tab-focus,
  &:hover {
    box-shadow: 0px 10px 30px #B7C3DF;
  }
}

.compare__benefit-block {
  box-sizing: border-box;

  position: relative;
  z-index: 1;

  margin-top: -7rem;
  padding-top: 3.1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 3.5rem;

  // background-image: linear-gradient(180deg, #FFFFFF 0%, #E6F1FD 100%);
  background-image: linear-gradient(180deg, #ECECF2 0%, #E6F1FD 100%);
}

.compare__benefit-title {
  margin-bottom: 2rem;
  font-weight: 700;
}

.compare__benefit-list {
  font-size: 1.6rem;
}


.compare__benefit-item {
  position: relative;
  margin-bottom: 1.56rem;
  padding-left: 3.3rem;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    height: 1.6rem;

    background-image: url('../img/svg/check.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &--less {
    &::before {
      width: 1.7rem;
      height: 1.7rem;
      background-image: url('../img/svg/close.svg');
    }
  }
}

@media (max-width: @tablet-width) {
}
