.contacts-info {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.contacts-info__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  row-gap: 2.7rem;
}

.contacts-info__item {}

.contacts-info__item-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 3rem;
  line-height: 4.4rem;
}

.contacts-info__item-desc {
  margin-bottom: 0.6rem;
}

@media (max-width: @tablet-width) {
}
