.database-sections {
  padding-top: 12rem;
  padding-bottom: 12rem;

  // padding-top: 180px;
  // padding-bottom: 180px;
}

.database-sections__main-text-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 4.4rem;
}

.database-sections__main-title {
}

.database-sections__btn-modal {}

.database-sections__list {
  display: flex;
  justify-content: space-between;
}

.database-sections__item {
  box-sizing: border-box;
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  width: 30rem;
  height: 37.6rem;
  padding-top: 4rem;

  border-radius: 5rem;
  box-shadow: 5px 60px 90px #D0E0F1;
  background-image: linear-gradient(34.55deg, #F3F9FF 41.98%, #D9EAFC 137.05%);

  transition: @s;

  &::before {
    position: absolute;
    content: '';
    z-index: -1;
    bottom: -4.6rem;

    width: 20.6rem;
    height: 20.6rem;

    background-image: url('../img/database-sections/figure-database-sections.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &:hover,
  &:focus {
    // box-shadow: none;
    .database-sections__img-wrap {
      // background-image: linear-gradient(36.18deg, @emerald 41.98%, @emerald 137.05%);
      box-shadow: none;
    }
    .database-sections__desc {
      color: #acc8e8;
    }
  }
}

.database-sections__link {
}

.database-sections__img-wrap {
  width: 12.6rem;
  height: 19.7rem;
  margin-bottom: 2.4rem;

  border-radius: 0.2rem;
  box-shadow: -10px 30px 40px #C9DBEF;

  transition: @s;

  // background-image: linear-gradient(36.18deg, #5CC594 41.98%, #D9EAFC 137.05%);
  // background-image: linear-gradient(36.18deg, #7F9DBF 41.98%, #D9EAFC 137.05%);
  // background-image: linear-gradient(36.18deg, #F8CE7E 41.98%, #D9EAFC 137.05%);
  // background-image: linear-gradient(36.18deg, #E13D3E 41.98%, #D9EAFC 137.05%);
}

.database-sections__img {
  .img-cover;
}

.database-sections__title {
  margin-bottom: 1.1rem;
  font-weight: 700;
  font-size: 3rem;
  line-height: 4.4rem;
}

.database-sections__count {
  font-weight: 300;
  font-size: 1.6rem;
  // line-height: 24px;
}

.database-sections__desc {
  position: absolute;
  top: 10.8rem;
  right: -6.5rem;

  font-weight: 800;
  font-size: 5rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #D2E1F2;

  transform: rotate(-90deg);
  transition: @s;
}

@media (max-width: @tablet-width) {
  .database-sections {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .database-sections__main-text-wrap {
    margin-bottom: 3.2rem;
    text-align: center;
  }

  .database-sections__main-title {}

  .database-sections__btn-modal {
    display: flex;
    margin-top: 1.5rem;
  }

  .database-sections__list {
    flex-wrap: wrap;
  }

  .database-sections__item {
    width: 46%;
    height: 20rem;
    margin-bottom: 4.4rem;
    padding-top: 2rem;

    border-radius: 2.6rem;

    &::before {
      bottom: -2.1rem;

      width: 10.9rem;
      height: 10.9rem;
    }
  }

  .database-sections__link {}

  .database-sections__img-wrap {
    width: 6.6rem;
    height: 10.4rem;
    margin-bottom: 1.4rem;

    border-radius: 0.1rem;
  }

  .database-sections__title {
    margin-bottom: 0.3rem;
    font-size: 1.7rem;
    line-height: 2.5rem;
  }

  .database-sections__count {
    font-size: 0.9rem;
  }

  .database-sections__desc {
    top: 5.7rem;
    right: -3.5rem;

    font-size: 2.6rem;
  }

}
