.main-info {
  position: relative;

  display: flex;
  // align-items: center;
  justify-content: center;

  // margin-bottom: 100px;
  // padding-bottom: 240px;
  padding-bottom: 27.7rem;

  color: #fff;
  z-index: 0;

  &--white-overlay {
    &::before {
      position: absolute;
      content: '';
      z-index: -1;
      width: 100%;
      // height: 1500px;
      height: 100rem;
      background-color: #fff;
    }
  }
}

.main-info__bg {
  position: absolute;
  z-index: -1;

  // top: -686px;
  top: -81rem;
  width: 153.4rem;
  height: 150rem;

  border-radius: 50%;

  background: radial-gradient(43.24% 44.87% at 2.24% 86.64%, #504D60 0%, #2F1F27 100%);
}

.main-info__logo {
  flex-direction: column;
  margin-top: 3rem;

  cursor: initial;
}

.main-info__aside-left {
  position: absolute;
  width: 22.5rem;

  top: 12.2rem;
  right: 50%;
  transform: translateX(59.2rem);

}

.main-info__aside-left-desc {
  margin-bottom: 3rem;

  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;

  &--gold {
    display: block;
    color: @gold;
  }

  &--light {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 2.5rem;
  }
}

.main-info__aside-btn-modal {
  margin-top: 0.7rem;
}

.main-info__decor {
  position: absolute;
  z-index: -1;

  background-repeat: no-repeat;
  background-position: center;

  // &::before,
  // &::after {
  //   content: '';
  //   position: absolute;
  //   z-index: -1;

  //   background-repeat: no-repeat;
  //   background-position: center;
  // }

  // &::before,
  &-one {
    // width: 434px;
    // height: 443px;

    width: 47rem;
    height: 47rem;

    // top: 348px;
    top: 22.9rem;
    left: 50%;
    transform: translateX(-79.5rem);

    background-image: url('../img/main-info/1-1.svg');
    background-size: contain;
  }

  // &::after,
  &-two {
    // width: 2225.6px;
    width: 100%;
    // width: 1925px;
    height: 112.7rem;
    // height: 58.697vw;

    // top: 438px;
    top: 31.3rem;
    left: 50%;
    transform: translateX(-50%);

    background-image: url('../img/main-info/1-2.svg');
    background-size: cover;

    @media (min-width: @max-desktop-width) {
      // top: 22.8125vw;
      height: 58.697vw;
    }
  }
}
