.main-info {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 27.7rem;

  z-index: 0;

  color: #fff;

  &::before,
  &::after {
    position: absolute;
    content: '';
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &--white-overlay {
    &::before {
      position: absolute;
      content: '';
      z-index: -1;
      width: 100%;
      height: 100rem;
      background-color: #fff;
    }
  }
}

.main-info__bg {
  position: absolute;
  z-index: -1;

  top: -81rem;
  width: 153.4rem;
  height: 150rem;

  border-radius: 50%;

  background-image: radial-gradient(43.24% 44.87% at 2.24% 86.64%, #504D60 0%, #2F1F27 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.main-info__logo {
  flex-direction: column;
  margin-top: 3rem;

  cursor: initial;
}

.main-info__aside-left {
  position: absolute;
  z-index: 1;

  top: 12.2rem;
  right: 50%;
  transform: translateX(59.2rem);

  display: flex;
  flex-direction: column;
  width: 22.5rem;
}

.main-info__aside-left-desc {
  margin-bottom: 3rem;

  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;

  &--gold {
    display: block;
    color: @gold;
  }

  &--light {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 2.5rem;
  }
}

.main-info__aside-btn-modal {
  margin-top: 0.7rem;
}

.main-info__decor {
  position: absolute;
  z-index: 0;

  background-repeat: no-repeat;
  background-position: center;

  // top: 31.3rem;
  top: var(--top);
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  // height: 112.7rem;
  height: var(--height);
  background-image: url('../img/main-info/1-2-d.svg');
  background-size: cover;

  --top: 31.3rem;
  --height: 112.7rem;
  --dynamic-height: 58.697vw;

  @media (min-width: @max-desktop-width) {
    /*
      Декоративный элемент должен увеличивать height через vw
      и понижать top на треть от этой высоты

      1) --dynamic-height - это та же высота, выраженная в vw (1127px/112.7rem = 58.697vw)
      2) --difference-height - это разница между динамической и статичной высотой
      3) --dynamic-top - динамическая величина top, зависимая от высоты декоративного элемента
         (чем больше элемент - тем на треть меньше top)
    */

    --difference-height: calc(var(--dynamic-height) - var(--height));
    --dynamic-top: calc(var(--top) - var(--difference-height) / 3);

    top: var(--dynamic-top);
    height: var(--dynamic-height);
  }
}

.main-info__text-wrap {
  padding-top: 12rem;

  font-weight: 700;
  text-align: center;
}

.main-info__subtitle {
  margin-bottom: 1.4rem;

  font-weight: inherit;
  font-size: 2.2rem;

  &--green {
    color: @emerald;
  }
}

.main-info__title {
  margin-bottom: 1.7rem;

  font-weight: inherit;
  font-size: 4rem;
  line-height: 5rem;

  &-item {
  }
}

.main-info__desc {
  font-size: 1.9rem;
  line-height: 2.8rem;

  &--bold {
    font-weight: bold;
  }
}

.main-info__btn-modal {
  z-index: 1;
  margin-top: 2.8rem;
}

.main-info__contact-link {
  display: inline;
  .margin-inline(0.5rem);
}

/* главная */
.main-info-one {
  &::after {
    top: 22.9rem;
    transform: translateX(-79.5rem);
    width: 47rem;
    height: 47rem;

    background-image: url('../img/main-info/1-1.svg');
  }
}

/* центры */
.main-info-two {
  padding-bottom: 42.7rem;
  color: inherit;
  .main-info__bg {
    top: -27.8rem;
    width: 80.8rem;
    height: 80.8rem;

    background-image: linear-gradient(180deg, #FFFFFF 6.94%, #FAFBFB 85.09%);
    box-shadow: 0px 100px 250px rgba(255, 254, 240, 0.94);
  }
  &::after {
    top: 44.6rem;
    width: 50.8rem;
    height: 32rem;

    background-image: url('../img/main-info/2-1.svg');
  }
}

/* база знаний */
.main-info-three {
  // padding-bottom: 45.4rem;
  padding-bottom: 47.5rem;
  .main-info__bg {
    z-index: -2;
    top: -40rem;
    width: 90rem;
    height: 90rem;
    background-image: none;
    background-color: @brown;
  }
  .main-info__text-wrap {
    width: 74rem;
    padding-top: 9.4rem;
  }
  .main-info__btn-modal {
    background-color: #463E4D;
    border: 0.2rem solid #514959;
    box-shadow: 10px 10px 40px #2B1E24;
    &:hover,
    &:focus {
      background-color: @btn-dark-bg;
    }
  }
  &::before {
    top: -12.5rem;
    width: 132.9rem;
    height: 69.1rem;
    background-image: url('../img/main-info/3-1-d.svg');
  }
  &::after {
    top: 42rem;
    width: 44.4rem;
    height: 57.4rem;
    background-image: url('../img/main-info/3-2.svg');
  }
}

/* эксперты */
.main-info-four {
  padding-bottom: 37.2rem;
  .main-info__bg {
    top: -56.5rem;
    width: 115.9rem;
    height: 115.9rem;
    background-image: radial-gradient(74.44% 77.83% at 100.48% 83.04%, #605D72 0%, #2F1F27 100%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
  .main-info__text-wrap {
    padding-top: 1rem;
    width: 80rem;
  }
  .main-info__title {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }
  .main-info__subtitle {
    font-weight: 400;
    font-size: 1.6rem;
  }
  .main-info__desc {
    font-size: 2rem;
    line-height: 2.9rem;
  }
  .main-info__decor {
    /* это переменная, см. комментарий к .main-info__decor */
    --top: 37.3rem;
  }
  &::after {
    top: 39.8rem;
    transform: translateX(-43.2rem) ;
    width: 39.3rem;
    height: 36.8rem;

    background-image: url('../img/main-info/4-1.svg');
  }
}

/* о портале */
.main-info-five {
  padding-bottom: 6.3rem;
  color: inherit;
  .main-info__bg {
    top: -40rem;
    width: 88.2rem;
    height: 88.2rem;

    background-image: linear-gradient(180deg, #FFFFFF 6.94%, #FAFBFB 85.09%);
    box-shadow: 0px 109.158px 272.896px rgba(255, 254, 240, 0.94);
  }
  .main-info__logo {
    margin-top: 2rem;
  }
}

/* контакты */
.main-info-six {
  padding-bottom: 3.5rem;
  color: inherit;
  .main-info__bg {
    top: -48.8rem;
    width: 80.8rem;
    height: 80.8rem;

    background-image: linear-gradient(180deg, #FFFFFF 6.94%, #FAFBFB 85.09%);
    box-shadow: 0px 100px 250px rgba(255, 254, 240, 0.94);
  }
  .main-info__text-wrap {
    padding-top: 39.8rem;
  }
  .main-info__subtitle {
    font-size: 1.9rem;
  }
  .main-info__desc {
    font-size: 2rem;
  }
  &::after {
    top: -34.5rem;
    transform: translateX(-47%);
    width: 95rem;
    height: 111.3rem;

    background-image: url('../img/main-info/6-1-d.svg');
  }
}

@media (max-width: @tablet-width) {
  .main-info {
    // padding-bottom: 27.7rem;
    padding-bottom: 30.4rem;
    .padding-inline(2rem);

    &--white-overlay {
      &::before {
        height: 90rem;
      }
    }
  }

  .main-info__bg {
    top: -18.2rem;
    width: 80.8rem;
    height: 84.7rem;
  }

  .main-info__logo {
    margin-top: 1.5rem;
  }

  .main-info__aside-left {
    position: relative;

    top: auto;
    right: auto;
    transform: none;

    width: auto;
    margin-top: 2.1rem;

    text-align: center;
  }

  .main-info__aside-left-desc {
    margin-bottom: 0.8rem;
    font-size: 1.8rem;
    &--gold {
      display: inline-block;
      font-size: 2rem;
    }
    &--light {
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }

  .main-info__aside-btn-modal {
    order: -1;
    margin-top: 0;
    margin-bottom: 2rem;
  }

  .main-info__decor {
    height: 98.3rem;
    top: 47.3rem;
    background-image: url('../img/main-info/1-2-m.svg');
  }

  .main-info__text-wrap {
    padding-top: 4.5rem;
  }

  .main-info__subtitle {
    margin-bottom: 2.7rem;
    font-size: 1.8rem;
  }

  .main-info__title {
    margin-bottom: 1.4rem;
    font-size: 2.5rem;
    line-height: 3rem;

    &-item {}
  }

  .main-info__desc {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }

  .main-info__btn-modal {
    margin-top: 2.8rem;
  }

  .main-info__breadcrumbs {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    align-self: flex-start;
  }

  .main-info__contact-link {
    display: block;
    .margin-inline(0);
  }

  /* главная */
  .main-info-one {
    &::after {
      top: 52.9rem;
      transform: translateX(-21rem);
      width: 36.8rem;
      height: 36.8rem;
    }
  }

  /* центры */
  .main-info-two {
    // padding-bottom: 42.7rem;
    .main-info__bg {
      top: -18.2rem;
      width: 62.8rem;
      height: 62.8rem;
    }
    &::after {
      top: 39.5rem;
      width: 35.3rem;
      height: 22.2rem;
    }
  }

  /* база знаний */
  .main-info-three {
    // padding-bottom: 45.4rem;
    .main-info__bg {
      // z-index: -2;
      // top: -40rem;
      width: 80rem;
      height: 80rem;
    }
    .main-info__text-wrap {
      width: auto;
      padding-top: 4.3rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .main-info__title {
      margin-bottom: 2.6rem;
      line-height: 3.7rem;
    }
    .main-info__btn-modal {
      background-color: @btn-dark-bg;
      border: 0.2rem solid @btn-dark-border;
      box-shadow: 10px 10px 40px rgba(62, 53, 75, 0.29);
      &:hover,
      &:focus {
        background-color: @brown;
      }
    }
    &::before {
      top: -18rem;
      height: 66.2rem;
    }
    &::after {
      top: 38rem;
      width: 28rem;
      height: 36.3rem;
    }
  }

  /* эксперты */
  .main-info-four {
    padding-bottom: 36.6rem;
    .main-info__bg {
      // top: -18.2rem;
      top: -27rem;
      width: 80.8rem;
      height: 84.7rem;
      // background-image: radial-gradient(74.44% 77.83% at 100.48% 83.04%, #605D72 0%, #2F1F27 100%);
      // transform: matrix(-1, 0, 0, 1, 0, 0);
      background-image: radial-gradient(43.24% 44.87% at 2.24% 86.64%, #504D60 0%, #2F1F27 100%);
      transform: rotate(-1.37deg);
    }
    .main-info__text-wrap {
      width: auto;
      padding-top: 0.5rem;
    }
    .main-info__title {
      margin-bottom: 3rem;
      font-size: 2.5rem;
      line-height: 3rem;
    }
    .main-info__subtitle {
      font-size: 1.3rem;
    }
    .main-info__desc {
      font-size: 1.5rem;
      line-height: 2rem;
    }
    .main-info__decor {
      // top: 47.3rem;
      top: 38rem;
    }
    &::after {
      // top: 52.9rem;
      top: 44.3rem;
      // transform: translateX(-21rem);
      transform: translateX(-19.5rem);
      width: 36.8rem;
      height: 36.8rem;
      background-image: url('../img/main-info/1-1.svg');
    }
  }

  /* о портале */
  .main-info-five {
    padding-bottom: 4.6rem;
    .main-info__bg {
      top: -35.5rem;
    }
    .main-info__logo {
      margin-top: 7rem;
    }
  }

  /* контакты */
  .main-info-six {
    margin-bottom: 19.3rem;
    .main-info__breadcrumbs {
      display: none;
    }
    // padding-bottom: 42.7rem;
    .main-info__bg {
      top: -8rem;
      width: 51.4rem;
      height: 51.4rem;
    }
    .main-info__text-wrap {
      padding-top: 5.6rem;
    }
    .main-info__subtitle {
      margin-bottom: 1rem;
    }
    .main-info__desc {
      font-size: 1.5rem;
      line-height: 2.3rem;
    }
    &::after {
      top: auto;
      bottom: -8.8rem;
      width: 35rem;
      height: 35.6rem;

      background-image: url('../img/main-info/6-1-m.svg');
    }
    &::before {
      z-index: 0;
      top: 25.6rem;
      width: 100%;
      height: 35.5rem;
      background-image: url('../img/main-info/6-2-m.svg');
    }
  }
}

@media(max-width: 420px) {
  .main-info-three {
    &::before {
      background-image: url('../img/main-info/3-1-m.svg');
    }
  }
}
// 24.4em
// 375px
@media (max-width: 375px) {
  .main-info-three {
    &::before {
      top: -14.8rem;
      width: 380px;
    }
  }
}
