.price {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.price__title {
  margin-bottom: 4rem;
}

.price__column-wrap {
  display: flex;
  justify-content: space-between;
}

.price__column-left {
  width: 100.5rem;
}

.price__block {
  display: flex;
  align-items: center;
  padding-top: 2.3rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  padding-bottom: 1.4rem;
  p {
    width: 81.7%;
    font-weight: 300;
    font-size: 1.7rem;
  }
  span {
    font-weight: 700;
    font-size: 2rem;
  }
  &:nth-child(2n+1) {
    background-color: #fff;
    border-radius: 9rem;
  }
}

.price__column-right {
  width: 30.6rem;
}

.price__aside-modal-block {}

@media (max-width: @tablet-width) {
  .price {
    padding-top: 3.1rem;
    padding-bottom: 3.1rem;
  }

  .price__title {
    margin-bottom: 3.5rem;
  }

  .price__column-wrap {
    flex-wrap: wrap;
  }

  .price__column-left {
    width: auto;
  }

  .price__block {
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 2.2rem;
    padding: 0;
    padding-bottom: 1.9rem;
    border-bottom: 0.1rem solid #A6B2C6;
    p {
      width: 100%;
      margin-bottom: 0.7rem;
      font-size: 1.5rem;
    }
    span {
      font-size: 1.5rem;
    }
    &:nth-child(2n+1) {
      background-color: transparent;
      border-radius: 0;
    }
  }

  .price__column-right {
    display: none;
    width: auto;
  }
}
