.stages {
  padding-top: 99px;
  padding-bottom: 99px;
}

.stages__main-text-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 72px;
}

.stages__main-title {
}

.stages__list {
  display: flex;
  justify-content: space-between;
}

.stages__item {
  // width: 340px;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.stages__title {
  align-self: flex-start;

  margin-bottom: 14px;
  // padding-right: 39px;
  // padding-right: 19px;

  font-family: @blaster;
  font-style: italic;
  font-size: 30px;
  line-height: 35px;

  &-count {
    color: @emerald;
  }
}

.stages__subtitle {
  margin-bottom: 14px;
  // padding-right: 33px;
  // padding-right: 13px;
  font-weight: 700;
  font-size: 20px;
}

.stages__desc {
  margin-bottom: 16px;
}

.stages__link{
  &:hover,
  &:focus {
    box-shadow: none;
    .btn-link__icon {
      fill: @icon-dark-hover;
    }
  }
}

.stages__img-wrap {
  position: relative;
  left: -6px;
  width: 100%;
  height: 417px;
  background-image: url('../img/svg/figure-stages-d.svg');
}

.stages__img {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 300px;
  height: 300px;
  border-radius: 50%;

  object-fit: cover;
}

.stages__btn-link {
  position: absolute;
  // display: none;
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
}
