.topics-switch {
  margin-top: 4.9rem;
  margin-bottom: 4.2rem;

  font-weight: 700;
  font-size: 2.2rem;

  &-database {
    .topics-switch__sublist {
      display: none;
    }
  }
}

.topics-switch__title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 3rem;
}

.topics-switch__title {
  // font-size: 3.5rem;
}

.topics-switch__desc {
  font-size: 1.6rem;
  font-weight: 400;
}

.topics-switch__list {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;

  padding-top: 1.9rem;
  padding-left: 2.9rem;
  padding-right: 2.9rem;

  background-color: #FFF;
  border-radius: 9rem;
}

.topics-switch__item {

}

.topics-switch__link {
  margin-bottom: 1.8rem;
}

.topics-switch__link,
.topics-switch__sublink {
  transition: @s;

  &.active {
    color: @light-gray;
    &:hover {
      opacity: 1;
    }
  }

  &:hover,
  &:focus {
    opacity: @opacity-hover;
  }
}


.topics-switch__sublist {
  display: flex;

  justify-content: space-evenly;

  margin-top: 4rem;
  padding-top: 2.2rem;
  padding-left: 3rem;
  padding-right: 3rem;

  flex-wrap: wrap;

  border-top: 0.1rem solid #D2DCE7;
  border-bottom: 0.1rem solid #D2DCE7;
}

.topics-switch__sublink {
  margin-bottom: 1.5rem;
  padding-left: 1.7rem;
  padding-right: 1.7rem;

  &.active {
    // color: @red;
  }
}

.modal-sections {
  text-decoration-line: underline;
}

@media (max-width: @tablet-width) {
  .topics-switch {
    margin-top: 6rem;
    margin-bottom: 6rem;
    // padding-top: 2.9rem;
    // padding-bottom: 2.9rem;

    font-size: 1.5rem;

    &-database {
      margin-top: 8.7rem;
      margin-bottom: 3.3rem;
    }
  }

  .topics-switch__title-wrap {
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .topics-switch__title {
    margin-bottom: 1.3rem;
    // font-size: 2.5rem;
  }

  .topics-switch__desc {
    font-size: 1.5rem;
  }

  .topics-switch-database {
    .topics-switch__list {
      flex-direction: column;
      border-radius: 2rem;
    }
  }

  .topics-switch__list {
    padding-top: 2.2rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    padding-bottom: 2.2rem;
  }

  .topics-switch__item {
    margin-bottom: 1.8rem;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .topics-switch__link {
    margin-bottom: 0;
  }

  .topics-switch__sublist {
    justify-content: space-around;
    padding: 0;

    font-size: 2rem;
    border: none;
  }

  .topics-switch__sublink {
    margin-bottom: 0.7rem;

    padding-top: 1.2rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    padding-bottom: 0.5rem;
    border: 0.1rem solid #D2DCE7;

    &.active {
      // color: rgba(196, 196, 196, 0.8);
    }
  }
}
